<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="/assets/css/index.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/htly/index.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/common/layout.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/common/titleCon.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/common/titleCircle.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/common/tableSwiper.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/common/colorBlock.css">
  <link rel="stylesheet" type="text/css" href="/assets/lib/bin-ui@3.8.0/styles/index.css">

  <script src="/assets/lib/vue.min.js"></script>
  <script src="/assets/lib/axios.min.js"></script>
  <script src="/assets/lib/swiper/swiper.min.js"></script>
  <script src="/assets/lib/bin-ui@3.8.0/bin-ui.min.js"></script>
  <script src="/assets/lib/echarts/echarts.min.js"></script>
  <title>合同履约</title>
</head>

<body>
  <div id="app" v-cloak>
    <layout page-name="htly">
      <div class="count">
        <title-circle
                v-for="item in titleCount"
                :circle-img="item.img"
                :text="item.text"
                :unit="item.unit"
                :value="item.value"
        ></title-circle>
      </div>
      <title-con title="合同追踪情况" width="100%">
        <div class="tracking-situation">
          <div class="block-list" flex="main:justify">
            <div class="sul-ev" v-for="(item, index) in blockList" @click="handleSelect(index)">
              <color-block :s-color="item.color">
                <div class="block-main" flex="dir:top main:center cross:center">
                  <span class="sul-word">{{item.text}}</span>
                  <span class="sul-word">数量
                    <span class="sul-number" :style="{color:item.color}">{{item.value}}</span>
                    个
                  </span>
                </div>
              </color-block>
              <img src="/assets/img/htly/point.png" :class="{'isActive':index === selected}"/>
            </div>
          </div>
          <div class="sul-table">
            <table-swiper :columns="lcnColumns1" :table-data="lcnData1" line-height="44"></table-swiper>
          </div>
        </div>
      </title-con>
      <div class="bottom" flex="main:justify">
        <title-con title="合同类别统计" width="68%">
          <div id="barChart" style="width: 100%;height: 270px;" ></div>
        </title-con>
        <title-con title="合同概览" width="30%">
          <table-swiper :columns="lcnColumns" :table-data="lcnData" :show-colors="true" line-height="44"></table-swiper>
        </title-con>
      </div>
    </layout>
  </div>

  <script src="/components/common/layout.js"></script>
  <script src="/components/common/titleCon.js"></script>
  <script src="/components/common/titleCircle.js"></script>
  <script src="/components/common/colorBlock.js"></script>
  <script src="/components/common/tableSwiper.js"></script>

  <script>

    new Vue({
      el: '#app',
      data() {
        return {
          selected:0,
          lcnColumns: [
            {
              title: '企业名称',
              key: 'name',
              align: 'left',
              tooltip: true
            }
          ],
          lcnData: [
            {
              name: '周口市通港汽车运输有限公司',
            },
            {
              name: '河南春天物流运输有限公司',
            },
            {
              name: '河南中汇实业集团有限公司',
            },
            {
              name: '河南汉王珠宝有限公司',
            },
            {
              name: '周口博雅地产有限公司',
            }
          ],
          lcnColumns1: [
            {
              title: '合同名称',
              key: 'name',
              align: 'left',
              tooltip: true
            },
            {
              title: '甲方名称',
              key: 'jName',
              align: 'center',
              tooltip: true
            },
            {
              title: '甲方类别',
              key: 'type',
              align: 'center',
              tooltip: true
            },
            {
              title: '乙方名称',
              key: 'yName',
              align: 'center',
              tooltip: true
            },
            {
              title: '跟踪时间',
              key: 'time',
              align: 'center',
              tooltip: true
            },
          ],
          lcnData1: [
            {
              name: '市场合同',
              jName: '张三',
              type:'政府机构',
              yName:'谢文',
              time:'2022-5-8'
            },
            {
              name: '市场合同',
              jName: '张三',
              type:'政府机构',
              yName:'谢文',
              time:'2022-5-8'
            },
            {
              name: '市场合同',
              jName: '张三',
              type:'政府机构',
              yName:'谢文',
              time:'2022-5-8'
            },
            {
              name: '市场合同',
              jName: '张三',
              type:'政府机构',
              yName:'谢文',
              time:'2022-5-8'
            },
            {
              name: '市场合同',
              jName: '张三',
              type:'政府机构',
              yName:'谢文',
              time:'2022-5-8'
            },
          ],
          titleCount: [
            { text: '累计合同总量', value: 200, unit:'条', img: '/assets/img/htly/pic01.png' },
            { text: '累计合同金额', value: 285.07, unit:'万元', img: '/assets/img/htly/pic02.png' },
            { text: '累计跟踪数量', value: 111, unit:'条', img: '/assets/img/htly/pic03.png' },
            { text: '正在跟踪数量', value: 6, unit:'条', img: '/assets/img/htly/pic04.png' },
            { text: '正在跟踪数量', value: 4.44, unit:'条', img: '/assets/img/htly/pic05.png' },
          ],
          blockList: [
            { text: '执行中', value: 4, color: 'rgba(40, 150, 192, 0.7)' },
            { text: '正常完成', value: 3,  color: 'rgba(20, 152, 227, 0.7)' },
            { text: '逾期执行中', value: 2,  color: 'rgba(30, 175, 158, 0.7)' },
            { text: '逾期完成', value: 1,  color: 'rgba(107, 72, 239, 0.7)' },
            { text: '终止', value: 13, color: 'rgba(187, 121, 18, 0.7)' },
          ]
        }
      },
      created() {
      },
      methods: {
        handleSelect(index) {
          this.selected = index
        }
      }
    })
  </script>


  <script src="/components/htly/barCharts.js"></script>
</body>

</html>