.table-box{
    margin: 14px 0 20px;
    /*border: 1px solid #fff;*/
}
.shadow{
    -webkit-box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 5px 6px;
    -moz-box-shadow:  rgba(255, 255, 255, 0.5) 0px 0px 5px 6px;
    box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 5px 6px;
}
.table-container {
    height: 80px;
    overflow: hidden;
    box-sizing: border-box;
}
.head {
    display: flex;
    border-bottom: none;
    height: 40px;
    line-height: 40px;
    background-color: #052451;
}
.head span {
    text-align: center;
    flex: 1;
    color: #fff;
    border-right: 0.2px solid rgba(8, 48, 91, 1);
    border-bottom: 0.2px solid rgba(8, 48, 91, 1);
}
.table-container .swiper-wrapper {
    width: 100%;
}
.table-container .swiper-wrapper .li{
    display: flex;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #071f43;
    cursor: pointer;
}
.table-container .swiper-wrapper .li:hover{
    background-color: #1089ff80;
}
.table-container .swiper-wrapper .li.noHover{
    pointer-events: none;
}
.table-container .swiper-wrapper .li:nth-child(even){
    background-color: #052451;
}
.table-container .swiper-wrapper .li:nth-child(even):hover{
    background-color: #1089ff80;
}
.table-container .swiper-wrapper .li .span{
    text-align: center;
    flex: 1;
    color: #fff;
    border-left: 1px solid rgba(8, 48, 91, 1);
    border-bottom: 1px solid rgba(8, 48, 91, 1);
}
.table-container .swiper-wrapper .li .span:nth-child(1){
    border-left: none;
}
.table-container .swiper-wrapper .li .span:last-child{
    border-right: none;
}
