#app .content .header {
  position: relative;
}
#app .content .main {
  height: 984px;
  padding: 20px 25px;
}
#app .content .main .table-head {
  margin-top: 20px;
  border-bottom: none;
  height: 40px;
  line-height: 40px;
  background-color: #052451;
}
#app .content .main .table-head span {
  color: #fff;
  font-weight: bold;
}
#app .content .main .table-container {
  height: 320px;
  overflow: hidden;
  box-sizing: border-box;
}
#app .content .main .table-container .swiper-wrapper {
  width: 100%;
}
#app .content .main .table-container .swiper-wrapper li {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #052451;
}
#app .content .main .table-container .swiper-wrapper li span {
  color: #fff;
  border-right: 1px solid #0a274d;
  border-bottom: 1px solid #0a274d;
}
#app .content .main .table-container .swiper-wrapper li .first {
  background-color: #071f43;
}
#app .content .main .table-container .swiper-wrapper li .level {
  color: #ffaf00;
}
#app .content .main .table-container .swiper-wrapper li span:last-child {
  border-right: none;
}
#app .content .main .table-container .swiper-wrapper li:nth-child(even) {
  background-color: #071f43;
}
#app .content .main .center {
  width: calc(100% - 900px);
  padding: 0 25px;
}
#app .content .main .center .cen-bottom {
  height: 284px;
  width: 100%;
  background-image: url("../images/ptgk/back-blue.png");
  background-size: 100% 100%;
  padding: 0 40px 20px 40px;
}
#app .content .main .center .cen-bottom .bom-top {
  height: 36px;
  background-image: url("../images/ptgk/cen-top.png");
  background-repeat: no-repeat;
  background-position: center;
}
#app .content .main .center .cen-bottom .bom-top span {
  color: #fff;
  font-size: 18px;
  line-height: 150%;
  font-weight: bold;
}
#app .content .main .center .cen-bottom .report-area {
  height: 220px;
  margin-top: 9px;
}
#app .content .main .center .cen-bottom .report-area .scroll-content {
  overflow: hidden;
  flex: 1;
  height: 100%;
  line-height: 24px;
  position: relative;
}
#app .content .main .center .cen-bottom .report-area .scroll-content .scroll-text {
  position: absolute;
  white-space: nowrap;
  padding-left: 100%;
  animation: notice 20s 0s linear infinite both;
  color: #0fbce0;
  top: 0;
}
#app .content .main .center .cen-bottom .report-area .scroll-content .word02 {
  color: #43cf7c;
  top: 30px;
  animation: notice 15s 0s linear infinite both;
}
#app .content .main .center .cen-bottom .report-area .scroll-content .word03 {
  color: #1e79fb;
  top: 60px;
  animation: notice 17s 0s linear infinite both;
}
#app .content .main .center .cen-bottom .report-area .scroll-content .word04 {
  color: #ff8d1a;
  top: 90px;
  animation: notice 12s 0s linear infinite both;
}
#app .content .main .center .cen-bottom .report-area .scroll-content .word05 {
  color: #ffc300;
  top: 110px;
  animation: notice 14s 0s linear infinite both;
}
#app .content .main .center .cen-bottom .report-area .scroll-content .word06 {
  color: #43cf7c;
  top: 140px;
  animation: notice 11s 0s linear infinite both;
}
#app .content .main .center .cen-bottom .report-area .scroll-content .word07 {
  color: #d43030;
  top: 170px;
  animation: notice 15s 0s linear infinite both;
}
#app .content .main .center .cen-bottom .report-area .scroll-content .word08 {
  top: 200px;
  animation: notice 18s 0s linear infinite both;
}
@-moz-keyframes notice {
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
@-webkit-keyframes notice {
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
@-o-keyframes notice {
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes notice {
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
#app .content .main .center .measures {
  width: 100%;
  height: calc(100% - 284px);
  background-image: url("../images/round.png");
  background-size: 100% 65%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
#app .content .main .center .measures img {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 9%;
}
#app .content .main .center .measures .circle-per {
  position: absolute;
  height: 68%;
  width: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#app .content .main .center .measures .circle-per .circle {
  width: 97px;
  height: 97px;
  box-shadow: 0 0 0 2px #2a82e4;
  border-radius: 50%;
  position: absolute;
}
#app .content .main .center .measures .circle-per .circle .wa-word {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 34px;
}
#app .content .main .center .measures .circle-per .circle .wa-word span {
  color: #fff;
  font-size: 16px;
}
#app .content .main .center .measures .circle-per .circle .wave {
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #fff, #1890ff);
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
#app .content .main .center .measures .circle-per .circle .wave::before,
#app .content .main .center .measures .circle-per .circle .wave::after {
  content: "";
  width: 200%;
  height: 200%;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, -75%);
}
#app .content .main .center .measures .circle-per .circle .wave::before {
  border-radius: 45%;
  background-color: #0f1f3d;
  animation: awave 8s linear infinite;
}
#app .content .main .center .measures .circle-per .circle .wave::after {
  border-radius: 40%;
  background-color: #0f1f3d;
  animation: awave 8s linear infinite;
}
#app .content .main .center .measures .circle-per .circle:nth-child(2) {
  right: 0;
}
#app .content .main .center .measures .circle-per .circle:nth-child(3) {
  bottom: 0;
}
#app .content .main .center .measures .circle-per .circle:nth-child(4) {
  bottom: 0;
  right: 0;
}
@-moz-keyframes awave {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  0% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
@-webkit-keyframes awave {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  0% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
@-o-keyframes awave {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  0% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
@keyframes awave {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  0% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
