.header{
  height 80px
  background-image url("../images/product/top.png")
  background-size 100% 100%
  span{
    letter-spacing: 20px;
    color: rgba(0, 211, 255, 1);
    font-size: 28px;
    line-height: 150%;
    font-weight: bold;
  }
}