.center-box {
  width: 100%;
  height: 100%;
  /* padding-top: 20px; */
}

.center-box .center-top{
  height: 200px;
}

.center-box .card-list-box {
  width: 100%;
}

.center-box .card-list-box .card-item {
  width: 20%;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.map-container {
  width: 100%;
  height: 750px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-image: url("../../images/center-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}


