.title-con {
  width: 100%;
}

.title-con-line {
  height: 4px;
  width: 30px;
  background-color: #00b6ff;
}

.title-con-title {
  display: flex;
  justify-content: space-between;
  align-items: center;;
  height: 36px;
  width: 100%;
  background-image: linear-gradient(90deg, #0b5ab5, #0d3163);
}

.title-con-jt-con {
  margin-left: 20px;
}

.title-con-title span {
  margin-left: 20px;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  color: #ffffff;
}

.title-con-icon {
  margin-right: 20px;
}