body {
  font-size: 14px;
  font-family: Microsoft YaHei, Arial, sans-serif, PingFang SC, Helvetica Neue, Helvetica, Hiragino Sans GB;
  color: #333;
}
html,
body {
  height: 100%;
  margin: 0;
}
p {
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}
a,
button {
  transition: all 0.4s;
}
a {
  color: #000;
  text-decoration: none;
}
div {
  box-sizing: border-box;
}
