<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>信用应用专题</title>

    <!--bin-ui-->
    <link rel="stylesheet" href="./js/lib/bin-ui/styles/index.css">
    <link rel="stylesheet" href="./styles/base.css">
    <link rel="stylesheet" href="./styles/header.css">
    <link rel="stylesheet" href="./styles/credit.css">

    <!--js-->
    <script src="./js/lib/vue.min.js"></script>
    <script src="./js/lib/bin-ui/bin-ui.min.js"></script>
    <script src="./js/lib/swiper/swiper.min.js"></script>

</head>

<body>
<div id="app" v-cloak>
    <div class="content" flex="dir:top">
        <div class="header" flex="main:center cross:center">
            <span>信用应用专题</span>
        </div>
        <div class="main" flex="main:justify">
            <div class="side left" flex="dir:top main:justify">
                <div class="specific-content">
                    <div class="sp-title">
                        <span>信易游</span>
                    </div>
                    <div class="table-head" flex="box:mean">
                        <span flex="main:center">文化旅游行业企业</span>
                        <span flex="main:center">赣通分</span>
                        <span flex="main:center">赣通分等级</span>
                    </div>
                    <div class="table-container">
                        <ul class="swiper-wrapper">
                            <li class="swiper-slide" v-for="(item,index) in youData" :key="index" flex="box:mean">
                                <span flex="main:center" class="first">{{ item.name }}</span>
                                <span flex="main:center">{{ item.score }}</span>
                                <span flex="main:center" class="level">{{ item.level }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="specific-content">
                    <div class="sp-title">
                        <span>信易批</span>
                    </div>
                    <div class="table-head" flex="box:mean">
                        <span flex="main:center">企业信息</span>
                        <span flex="main:center">赣通分</span>
                        <span flex="main:center">赣通分等级</span>
                    </div>
                    <div class="table-container">
                        <ul class="swiper-wrapper">
                            <li class="swiper-slide" v-for="(item,index) in piData" :key="index" flex="box:mean">
                                <span flex="main:center" class="first">{{ item.name }}</span>
                                <span flex="main:center">{{ item.score }}</span>
                                <span flex="main:center" class="level">{{ item.level }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel-footer"></div>
            </div>
            <div class="center" flex="dir:top cross:center main:justify">
                <div class="measures">
                    <img src="images/shine.png" width="379" height="354">
                    <div class="circle-per">
                        <div class="circle" v-for="(item, index) in perList" :key="index">
                            <span class="wave"></span>
                            <div flex="dir:top cross:center" class="wa-word">
                                <span>{{item.name}}</span>
                                <span>{{item.per}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="side cen-bottom" flex="dir:top main:justify">
                    <div class="bom-top" flex="cross:center main:center">
                        <span>信易+措施</span>
                    </div>
                    <div class="report-area">
                        <div class="scroll-content">
                            <span class="scroll-text">在办理出入证时，可享受办证咨询，自助照相设备</span>
                            <span class="scroll-text word02">供电公司一对一服务 ，建立3A级客户</span>
                            <span class="scroll-text word03">供电公司一对一服务 ，建立3A级客户专员</span>
                            <span class="scroll-text word04">在办理出入证时，可享受办证咨询</span>
                            <span class="scroll-text word05">供电公司一对一服务 ，建立3A级客户专员</span>
                            <span class="scroll-text word06">供电公司一对一服务 ，建立3A级客户</span>
                            <span class="scroll-text word07">信用AAA级用户银行贷款</span>
                            <span class="scroll-text word08">供电公司一对一服务 ，建立3A级客户</span>
                        </div>
                    </div>
                    <div class="panel-footer"></div>
                </div>
            </div>
            <div class="side right" flex="dir:top main:justify">
                <div class="specific-content">
                    <div class="sp-title">
                        <span>信用商圈</span>
                    </div>
                    <div class="table-head" flex="box:mean">
                        <span flex="main:center">商户信息</span>
                        <span flex="main:center">赣通分</span>
                        <span flex="main:center">赣通分等级</span>
                    </div>
                    <div class="table-container">
                        <ul class="swiper-wrapper">
                            <li class="swiper-slide" v-for="(item,index) in shopData" :key="index" flex="box:mean">
                                <span flex="main:center" class="first">{{ item.name }}</span>
                                <span flex="main:center">{{ item.score }}</span>
                                <span flex="main:center" class="level">{{ item.level }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="specific-content">
                    <div class="sp-title">
                        <span>信用园区</span>
                    </div>
                    <div class="table-head" flex="box:mean">
                        <span flex="main:center">企业信息</span>
                        <span flex="main:center">赣通分</span>
                        <span flex="main:center">赣通分等级</span>
                    </div>
                    <div class="table-container">
                        <ul class="swiper-wrapper">
                            <li class="swiper-slide" v-for="(item,index) in parkData" :key="index" flex="box:mean">
                                <span flex="main:center" class="first">{{ item.name }}</span>
                                <span flex="main:center">{{ item.score }}</span>
                                <span flex="main:center" class="level">{{ item.level }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>


<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                youData: [
                    {
                        name: 'XX旅游公司',
                        score: 986,
                        level: 'AAA'
                    },
                    {
                        name: 'XX旅游公司',
                        score: 986,
                        level: 'AAA'
                    },
                    {
                        name: 'XX旅游公司',
                        score: 986,
                        level: 'AAA'
                    },
                    {
                        name: 'XX旅游公司',
                        score: 986,
                        level: 'AAA'
                    },
                    {
                        name: 'XX旅游公司',
                        score: 986,
                        level: 'AAA'
                    },
                    {
                        name: 'XX旅游公司',
                        score: 986,
                        level: 'AAA'
                    },
                    {
                        name: 'XX旅游公司',
                        score: 986,
                        level: 'AAA'
                    },
                    {
                        name: 'XX旅游公司',
                        score: 986,
                        level: 'AAA'
                    },
                ],
                piData: [
                    {
                        name: 'XX旅游公司',
                        score: 986,
                        level: 'AAA'
                    },
                    {
                        name: 'XX旅游公司',
                        score: 986,
                        level: 'AAA'
                    },
                    {
                        name: 'XX旅游公司',
                        score: 986,
                        level: 'AAA'
                    },
                    {
                        name: 'XX旅游公司',
                        score: 986,
                        level: 'AAA'
                    },
                    {
                        name: 'XX旅游公司',
                        score: 986,
                        level: 'AAA'
                    },
                    {
                        name: 'XX旅游公司',
                        score: 986,
                        level: 'AAA'
                    },
                    {
                        name: 'XX旅游公司',
                        score: 986,
                        level: 'AAA'
                    },
                    {
                        name: 'XX旅游公司',
                        score: 986,
                        level: 'AAA'
                    },
                ],
                shopData: [
                    {
                        name: 'XX旅游公司',
                        score: 986,
                        level: 'AAA'
                    },
                    {
                        name: 'XX旅游公司',
                        score: 986,
                        level: 'AAA'
                    },
                    {
                        name: 'XX旅游公司',
                        score: 986,
                        level: 'AAA'
                    },
                    {
                        name: 'XX旅游公司',
                        score: 986,
                        level: 'AAA'
                    },
                    {
                        name: 'XX旅游公司',
                        score: 986,
                        level: 'AAA'
                    },
                    {
                        name: 'XX旅游公司',
                        score: 986,
                        level: 'AAA'
                    },
                    {
                        name: 'XX旅游公司',
                        score: 986,
                        level: 'AAA'
                    },
                    {
                        name: 'XX旅游公司',
                        score: 986,
                        level: 'AAA'
                    },
                ],
                parkData: [
                    {
                        name: 'XX旅游公司',
                        score: 986,
                        level: 'AAA'
                    },
                    {
                        name: 'XX旅游公司',
                        score: 986,
                        level: 'AAA'
                    },
                    {
                        name: 'XX旅游公司',
                        score: 986,
                        level: 'AAA'
                    },
                    {
                        name: 'XX旅游公司',
                        score: 986,
                        level: 'AAA'
                    },
                    {
                        name: 'XX旅游公司',
                        score: 986,
                        level: 'AAA'
                    },
                    {
                        name: 'XX旅游公司',
                        score: 986,
                        level: 'AAA'
                    },
                    {
                        name: 'XX旅游公司',
                        score: 986,
                        level: 'AAA'
                    },
                    {
                        name: 'XX旅游公司',
                        score: 986,
                        level: 'AAA'
                    },
                ],
                perList: [
                    {
                        name: '信易批',
                        per: '36%'
                    },
                    {
                        name: '信用+商圈',
                        per: '36%'
                    },
                    {
                        name: '信易游',
                        per: '36%'
                    },
                    {
                        name: '信用+园区',
                        per: '36%'
                    },
                ]
            }
        },
        mounted: function () {
            var swiper = new Swiper('.table-container', {
                direction: 'vertical',//滚动方向，垂直滚动
                slidesPerView: 8,//设置slider容器能够同时显示的slides数量,显示5行
                spaceBetween: 0,//间距为0
                loop: true,//循环滚动
                autoplay: {//匀速滚动
                    delay: 1000//间隔时间1000毫秒
                }
            })
        },
    })

</script>
</body>
</html>