[flex] {
  display: flex;
}

[flex ~= 'space:around'] {
  justify-content: space-around;
}

[flex ~= 'space:between'] {
  justify-content: space-between;
}

[flex ~= 'dir:column'] {
  flex-direction: column;
}

[flex ~= 'item:center'] {
  align-items: center;
}

[flex-box~='1'] {
  flex: 1;
}

[flex-box~='2'] {
  flex: 2;
}

[flex-box~='3'] {
  flex: 3;
}

[flex-box~='4'] {
  flex: 4;
}

[flex-box~='5'] {
  flex: 5;
}

html,
body,
#app {
  /*min-width: 1920px;*/
  min-height: 1080px;
  /*height: 100vh;*/
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#app {
  background-color: #050a1f;
}


/*文字渐变*/
.gradient1 {
  background: -webkit-linear-gradient(to top, #a4ccfc, #c3dcfc, #ffffff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #a4ccfc, #c3dcfc, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient2 {
  background: -webkit-linear-gradient(to top, #fcd452, #fcde85, #ffffff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #fcd452, #fcde85, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient3 {
  background: -webkit-linear-gradient(to top, #04f0fc, #5cf4fc, #ffffff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #04f0fc, #5cf4fc, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}