.data-box2 {
  margin: auto;
  position: relative;

  .data-title {
    font-size: 14px;
    color: #fff;
    letter-spacing: 5px;
    margin-right: 20px;
  }

  .num-box {
    position relative;

    .num-item {
      width: 27px;
      height: 36px
      background-image: url("../assets/images/num-bg2.png");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      color: #fff;
      margin-right: 10px;
    }
  }


  .num {
    position: absolute;
    left: 52.8%;
    transform: translate(-50%, 0);
    top: 6px;
    font-size: 20px;
    color: #fff;
    letter-spacing: 26px;
  }

  .data-dw {
    font-size: 14px;
    color: #fff;
  }
}