.data-box {
  margin: auto;
  width: 80%;
  height: 80px;
  position: relative;
}
.data-box .data-title {
  color: #fff;
  font-size: 32px;
  font-family: YouSheBiaoTiHei, sans-serif;
}
.data-box .num-box {
  margin: 20px 0 30px 0;
}
.data-box .num-box .num-item {
  width: 42px;
  height: 52px;
  background-image: url("../assets/images/num-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-size: 28px;
  color: #fff;
  margin: 0 10px;
}
.data-box .num-box .num {
  position: absolute;
  left: 52.6%;
  transform: translate(-50%, 0);
  top: 30px;
  color: #fff;
  font-size: 35px;
  letter-spacing: 42px;
  font-weight: bold;
}
