.panel-box {
  width: 100%;
  min-height: 200px;
  height auto;
  color: rgba(80, 80, 80, 1);
  background-image: url("../assets/images/panel-box-bg.png");
  background-position: left bottom;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-size: 14px;
  margin-bottom: 20px;
  position relative;

  .title-box {
    width: 100%;
    height: 70px;
    background-image: url("../assets/images/panel-title-bg.png");
    background-size: 100%;
    background-repeat: no-repeat;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    line-height: 27px;

    img{
      display inline-block;
      width 32px;
      height 28px;
    }
    .panel-title{
      font-family: YouSheBiaoTiHei,sans-serif;
      padding-left: 68px;
      padding-top: 10px;
    }

    .button {
      width: 72px;
      height: 30px;
      background-color: rgba(19, 54, 110, 0.54);
      line-height: 30px;
      text-align: center;
      cursor: pointer;
      font-size: 14px;
      color: #fff;
      border-radius: 18px;
      font-weight: 500;
    }

    .button:hover {
      background-color: #98a5ba8a;
    }
  }
  .content-box{
    padding 0 20px 20px;
  }
}