.img-block {
  height: 100%;
  text-align: center;
}

.img-block-title-con {
  margin-bottom: 40px;
  text-align: center;
}

.img-block-title {
  padding-bottom: 5px;
  display: inline-block;
  width: 185px;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  color: #ffffff;
  border-bottom: 3px solid rgba(0, 182, 255, 1);
}
