.page-container {
  //height: 100%;
  //height :1080px;

  .page-title {
    color: #fff;
    font-weight: 700;
    text-align: center;
    background-image: url("../images/title_bg_page.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 90px;
    margin-bottom: 10px;
    position: relative;

    .text-gradient {
      display: inline-block;
      font-size: 27px;
      line-height: 120px;
      color: #fff;
    }

    .user-bar {
      font-size: 12px;
      position: absolute;
      width: 300px;
      top: 25px;
      right: 30px;
      display: flex;
      justify-content: space-between;

      .user-info {
        flex: 1;
        color: #168cd2;

        span {
          color: #d9d826;
        }
      }

      .login-time {
        color: #2ba828;
      }
    }

    .title-container {
      position: absolute;
      width: 128px;
      top: 68px;
      margin-left: 10px;

      .title-content {
        color: #fff;
        font-weight: 500;
        font-size: 12px;
        width: 100%;
        height: 100%;
        background: none;
        color: #fff;
        padding: 5px 0;

        .icon-idcard {
          width: 20px;
          height: 20px;
          color: #fff;
        }

        .b-dropdown {
          .bin-select-dropdown {
            background-color: #fff;
            z-index: 2;
          }

          button {
            border 1px solid #3B5ACE
            background-color: transparent;

            i {
              width: 16px;
              height: 16px;
              color: #fff;
            }
          }
        }
      }
    }

  }
}
