.list-box{
    margin: 0;
    /*border: 1px solid #fff;*/
}
.list-container {
    height: 175px;
    overflow: hidden;
    box-sizing: border-box;
}
.head {
    display: flex;
    align-items: center;
    border-bottom: none;
    height: 35px;
    line-height: 35px;
    background-color: rgb(11 49 96);
    position: relative;
}
.head span {
    padding-left: 67px;
    flex: 1;
    color: #fff;
    text-align: center;
}
.list-container .swiper-wrapper {
    padding: 0;
    margin: 0;
}
.list-container .swiper-wrapper .li{
    display: flex;
    width: 100%;
    height: 35px;
    line-height: 35px;
    background-color: #0b2b57;
    cursor: pointer;
}
.list-container .swiper-wrapper .li:hover{
    background-color: #1089ff80;
}
.list-container .swiper-wrapper .li.noHover{
    pointer-events: none;
}
.list-container .swiper-wrapper .li:nth-child(even){
    background-color: rgb(11 49 96);
}
.list-container .swiper-wrapper .li:nth-child(even):hover{
    background-color: #0b2b57;
}
.list-container .swiper-wrapper .li .span{
    flex: 1;
    font-size: 16px;
    color: #fff;
    text-align: center;
    font-weight: bold;
}
.list-container .swiper-wrapper .li .span:nth-child(1) span{
    color: #00f6fb;
}
.list-container .swiper-wrapper .li .span:nth-child(2) span{
    color: #00f6fb;
}
.list-container .swiper-wrapper .li .span:last-child span{
    color: #ff9a00;
}
.list-container .swiper-wrapper .li .span:nth-child(1){
    border-left: none;
    text-align: left;
    padding-left: 15px;
}
.list-container .swiper-wrapper .li .span:last-child{
    border-right: none;
}
