.nav-card-box {
  width: 20%;
  height: 380px;
  background-image: url("../images/home/nav-card-bg.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin 10px;
  cursor pointer;
  z-index 2;
  transition: all .8s ease;

  &:hover {
    transform: translateY(-20px);

    .drop {
      transition: all .8s ease;
      opacity 1
    }
  }

  .icon-box {
    height 270px;
    width 100%;
    position relative;

    img {
      position absolute;
      left 50%;
      bottom -45px;
      transform translateX(-50%)
    }

    .icon-img {
      z-index 2
    }

    .icon-bottom {
      z-index 1
      bottom -55px;
    }
  }

  .title-box {
    margin-top: 20px;
  }

  .drop {
    padding-top: 15px;
    opacity 0
  }
}