.page-content {
  height: 100%;
  width: 100%;
  background-image: url("../images/common/container-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  position: relative;
}
.page-content .header {
  width: 100%;
  height: 260px;
  background-image: url("../images/home/head-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}
.page-content .header .header-box {
  width: 1158px;
  height: 135px;
  margin-top: 17px;
}
.page-content .header .show-nav {
  background-image: url("../images/course/nav-title-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.page-content .header .header-tab {
  width: 167px;
  height: 33px;
  text-align: center;
  line-height: 33px;
  font-size: 14px;
  color: #01bee8;
  font-weight: bold;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-top: 54px;
}
.page-content .header .tab-center {
  font-size: 32px;
  letter-spacing: 4px;
  height: 48px;
  line-height: 150%;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  color: #fff;
}
.page-content .content-box {
  height: calc(100% - 260px);
}
.page-content .content-box .center {
  width: 100%;
  padding: 0 20px;
  margin-top: -140px;
}
.page-content .content-box .center .center-left {
  width: 24%;
}
.page-content .content-box .center .center-center {
  width: 52%;
}
.page-content .content-box .center .center-right {
  width: 24%;
}
.page-content .content-box .bottom {
  width: 100%;
  padding: 0 20px;
}
