.page-content {
  height: 100%;
  position relative;

  .header {
    width: 100%;
    height: 260px;
    background-image: url("../images/home/head-bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;

    .header-box {
      width 1158px;
      height 135px;
      margin-top: 17px;
    }

    .show-nav {
      background-image: url("../images/course/nav-title-bg.png");
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }

    .header-tab {
      width: 167px;
      height: 33px;
      text-align: center;
      line-height: 33px;
      font-size: 14px;
      color: rgba(1, 190, 232, 1);
      font-weight: bold;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      margin-top: 54px;
    }

    .tab-center {
      font-size: 32px;
      letter-spacing: 4px;
      height 48px;
      line-height: 150%;
      text-align: center;
      font-weight: bold;
      font-style: italic;
      color #fff;
    }
  }

  .center {
    width: 100%;
    height: calc(100% - 400px);
    //padding: 10px 20px 20px 20px;
  }

  .bottom {
    width 100%;
    height 140px;
    background-image: url("../images/home/bottom-bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .side-box {
    width 100%;
    height 100%;
    position absolute;
    top 0;
    left 0;

    img {
      display block;
      height 100%;
    }
  }
}
.has-bg{
  background-image: url("../images/home/home-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}