.data-box {
  margin: auto;
  width: 80%;
  height: 80px;
  background-image: url("../images/common/count-data-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}
.data-box .data-title {
  color: #fff;
  font-size: 24px;
  margin-right: 20px;
  letter-spacing: 2px;
  text-indent: 10px;
}
.data-box .num-box .num-item {
  width: 42px;
  height: 52px;
  background-image: url("../images/common/num-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-size: 28px;
  color: #fff;
  margin: 0 10px;
}
.data-box .num-box .num {
  position: absolute;
  left: 63.6%;
  transform: translate(-50%, 0);
  top: 14px;
  color: #52feff;
  font-size: 39px;
  letter-spacing: 41px;
}
.data-box .data-dw {
  color: #52feff;
  font-size: 24px;
}
