.table-box {
  margin: 14px 0 0;
  /*border: 1px solid #fff;*/
}

.table-container {
  height: 80px;
  overflow: hidden;
  box-sizing: border-box;
}

.head {
  display: flex;
  border-bottom: none;
  height: 40px;
  line-height: 40px;
  background-color: #052451;
}

.head span {
  text-align: center;
  flex: 1;
  color: #fff;
  border-left: 1px solid rgba(8, 48, 91, 1);
  border-bottom: 1px solid rgba(8, 48, 91, 1);

  &:last-child {
    border-right: 1px solid rgba(8, 48, 91, 1);
  }
}

.table-container {
  .swiper-wrapper {
    width: 100%;

    .li {
      display: flex;
      width: 100%;
      height: 40px;
      line-height: 40px;
      background-color: #071f43;
      cursor: pointer;

      &:hover {
        background-color: #1089ff80;
      }

      //&:nth-child(even){
      //  background-color: #052451;
      //}
      //&:nth-child(even):hover{
      //  background-color: #1089ff80;
      //}

      .span {
        text-align: center;
        flex: 1;
        color: #fff;
        border-left: 1px solid rgba(8, 48, 91, 1);
        border-bottom: 1px solid rgba(8, 48, 91, 1);

        &:last-child {
          border-right: 1px solid rgba(8, 48, 91, 1);
        }
      }
    }
  }
}

.table-container .swiper-wrapper .li.noHover {
  pointer-events: none;
}