.content {
  padding: 50px;
  height: 100%;
}
.content .title {
  width: 404px;
  height: 40px;
  background-image: url("../images/work/collaboration/line.png");
  background-position-x: 15px;
  background-repeat: no-repeat;
  position: relative;
}
.content .title .dot {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #2998ff;
}
.content .title .name {
  position: absolute;
  left: 60px;
  top: -14px;
  color: #fff;
  font-size: 30px;
  line-height: 150%;
}
.content .choose {
  height: 100%;
}
.content .choose .all {
  height: 100%;
  padding-top: 50px;
}
.content .choose .all .bin-col {
  height: 100%;
}
.content .choose .all .bin-col .carousel {
  height: 100%;
}
.content .choose .all .bin-col .carousel .bin-carousel-list {
  background-color: rgba(4,18,49,0.6);
}
.content .choose .all .bin-col .carousel .bin-carousel-dots-outside {
  background-image: url("../images/work/back.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content .choose .all .bin-col .carousel .bin-carousel-dots-outside .bin-carousel-active button.radius {
  width: 20px;
  border-radius: 7px;
}
.content .choose .all .bin-col .carousel .pic-main {
  height: 600px;
  max-width: 100%;
}
.content .choose .all .bin-col .carousel .bin-carousel-arrow {
  background-color: inherit;
}
.content .choose .all .bin-col .carousel .bin-carousel-arrow.right {
  width: 60px;
  height: 60px;
}
.content .choose .all .bin-col .carousel .bin-carousel-arrow.right .icon-ios-arrow-forward::before {
  content: '';
  width: 60px;
  height: 60px;
  display: inline-block;
  background-image: url("../images/work/right.png");
  background-size: cover;
}
.content .choose .all .bin-col .carousel .bin-carousel-arrow.left {
  width: 60px;
  height: 60px;
}
.content .choose .all .bin-col .carousel .bin-carousel-arrow.left .icon-ios-arrow-back::before {
  content: '';
  width: 60px;
  height: 60px;
  display: inline-block;
  background-image: url("../images/work/left.png");
  background-size: cover;
}
.content .choose .card .bin-col {
  margin-bottom: 24px;
}
.content .choose .card .card-item {
  height: 180px;
  cursor: pointer;
}
.content .choose .card .card-item .pic {
  background-color: #1a2f55;
}
.content .choose .card .card-item .pic .pic-right {
  max-width: 100%;
  height: 120px;
}
.content .choose .card .card-item span {
  color: #b9e8ff;
  padding: 0 2px;
  text-align: center;
}
.content .choose .card .card-item .name {
  padding-top: 10px;
  height: calc(100% - 120px);
}
.content .choose .card .card-item .show-name {
  padding-top: 10px;
  height: calc(100% - 120px);
  background-color: #1a2f55;
}
.content .choose .card .card-item .show-name span {
  color: #fff;
}
@media screen and (min-height: 1150px) {
  .content .choose .all .bin-col .carousel .pic-main {
    height: 700px;
  }
  .content .choose .card .card-item {
    height: 200px;
  }
  .content .choose .card .card-item .pic .pic-right {
    height: 140px;
  }
  .content .choose .card .card-item .show-name {
    height: calc(100% - 140px);
  }
}
@media screen and (min-height: 1230px) {
  .content .choose .all .bin-col .carousel .pic-main {
    height: 800px;
  }
  .content .choose .card .card-item {
    height: 220px;
  }
  .content .choose .card .card-item .pic .pic-right {
    height: 160px;
  }
  .content .choose .card .card-item .show-name {
    height: calc(100% - 160px);
  }
}
