#app {
  #pieChart1 {
    width: 100%;
    height: 224px;
  }

  #barChart1 {
    width: 100%;
    height: 224px;
  }

  #barChart2 {
    width: 100%;
    height: 164px;
  }

  #lineChart1 {
    width 100%;
    height: 224px;
  }

  .center-box {
    height 100%;
    padding 0 20px;

    .data-box-box {
      padding-top: 80px;
    }

    .center-container {
      height calc(100% - 500px)
      position relative;
      background-image: url("../images/center/container-bg.png");
      background-size: 100% 100%;
      background-repeat: no-repeat;

      .depart {
        background-image: url("../images/center/depart-bg.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width 136px;
        height 51px;
        line-height: 51px;
        text-align center;
        vertical-align middle;
        color: rgba(76, 255, 255, 1);
        font-size: 24px;
        font-weight: bold;
        position absolute;
        top 10px;
      }

      .center-bg {
        display block;
        width 60%;
        height auto;
        object-fit contain;
      }

      .bar-box {
        width 70%;
        position absolute;

        .bar-item {
          background-image: url("../images/center/bar.png");
          background-size: 100% 100%;
          background-repeat: no-repeat;
          width 118px;
          height 183px;

          .text {
            background-image: url("../images/center/bar-top.png");
            background-size: 100% 100%;
            background-repeat: no-repeat;
            width 86px;
            height 41px;
            line-height: 41px;
            text-align center;
            color: rgba(255, 255, 255, 1);
            font-size: 12px;
            margin-bottom: 100px;
          }

          &:nth-child(1) {
            position absolute;
            left 0;
            top -140px;
          }

          &:nth-child(2) {
            position absolute;
            left 100px;
            top -220px;
          }

          &:nth-child(3) {
            position absolute;
            right 100px;
            top -220px;
          }

          &:nth-child(4) {
            position absolute;
            right 0;
            top -140px;
          }
        }
      }

      .center-bottom {
        .bottom-item {
          position relative;
          min-width 190px;
          min-height 120px;
          padding 0 14px;

          .text {
            color: rgba(255, 255, 255, 1);
            font-size: 14px;
            font-weight: bold;
            position absolute;
            top 35%;
            left 38%;
          }

          .value {
            color: rgba(76, 255, 255, 1);
            font-size: 28px;
            font-weight: bold;
            font-style: italic;
            position absolute;
            top 52%;
            left 38%;
          }
        }
      }
    }
  }


  .bottom-box {
    height 224px;
    padding-top: 27px;

    .bottom-item {
      width 50%;
      height 100%;
      background-image: url("../images/center/bottom-bg.svg");
      background-size: 100% 100%;
      background-repeat: no-repeat;

      .left {
        width 30%;

        img {
          width: 66px;
          height: 91px;
          display block;
        }

        .text {
          color: rgba(255, 255, 255, 1);
          font-size: 14px;
          text-align: center;
          font-weight: bold;
        }

        .value {
          color: rgba(76, 255, 255, 1);
          font-size: 28px;
          line-height: 150%;
          text-align: center;
          font-weight: bold;
          font-style: italic;
        }
      }

      .right {
        width 70%;
        display flex;
        flex-wrap wrap;

        .right-item {
          width 44%;
          background-image: url("../images/center/right-item-bg.svg");
          background-size: 100% 100%;
          background-repeat: no-repeat;
          padding 14px;
          margin 8px;

          .text {
            color: rgba(255, 255, 255, 1);
            font-size: 14px;
            text-align: left;
          }

          .value {
            color: rgba(76, 255, 255, 1);
            font-size: 20px;
            line-height: 150%;
            text-align: left;
          }
        }
      }
    }

  }

  .top-box {
    width 100%;
    height 60px;
    background-image: url("../images/center/top-box-bg.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;

    .top-item {
      flex 1;
      text-align center;

      .text {
        color: rgba(255, 255, 255, 1);
        font-size: 14px;
      }

      .value {
        color: rgba(76, 255, 255, 1);
        font-size: 20px;
      }
    }
  }


  .top-text {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    position: absolute;
    left 50%;
    transform translateX(-50%)
    top 60px;
  }

  .panel-content {

    .level-wrapper {
      padding 12px 10px;

      .level-item {
        position: relative;
        height: 20px;

        .level-title {
          width: 80px;
          padding-right: 20px;
          text-align right;
          font-size: 12px;
          color: #fff;
        }

        .bin-progress {
          flex: 1;

          .bin-progress-bar {
            padding-right: 0;
          }
        }

        .level-num {
          width: 70px;
          padding-left: 15px;
          font-size: 12px;
          color: #fff;
        }
      }
    }
  }

}