.main {
  width: 300px;
  background-color: #081b3f;
  padding-top: 50px;
}
.main .bin-menu {
  width: 100% !important;
  background-color: inherit;
}
.main .bin-menu .bin-menu-item-selected {
  background-color: #08254e !important;
  color: #0c74f4;
}
.main .bin-menu::after {
  background-color: inherit;
}
.main .bin-menu li {
  color: #fff;
}
.main .bin-menu li .bin-menu-submenu-title .iconfont::before {
  color: #595959;
}
.main .bin-menu li .bin-menu-submenu-title:hover {
  color: #fff;
}
.main .bin-menu li .bin-menu-submenu-title:hover .icon-ios-arrow-down {
  color: #9eceff;
}
.main .bin-menu li .bin-menu-submenu-title:hover .icon-ios-arrow-down::before {
  color: #fff;
}
.main .bin-menu span {
  color: #fff;
}
