#app {
  position: relative;
}
.page-container .main {
  position: relative;
  height: calc(1080px - 118px);
}
.page-container .main .left-side .panel {
  margin-bottom: 0;
}
.page-container .main .left-side .panel:nth-child(1) {
  padding: 15px 0;
}
.page-container .main .left-side .panel:nth-child(1) .title-container {
  padding: 0 15px;
}
.page-container .main .left-side .panel-box1 {
  margin-bottom: 30px;
}
.page-container .main .left-side .panel-box1 .head {
  display: flex;
  border-top: 1px solid #168cd2;
  border-bottom: 1px solid #168cd2;
  height: 40px;
  line-height: 40px;
  background-color: rgba(3,61,124,0.5);
}
.page-container .main .left-side .panel-box1 .head span {
  text-align: center;
  flex: 1;
  color: #fff;
}
.page-container .main .left-side .panel-box1 .table-container {
  box-sizing: border-box;
  height: 344px;
}
.page-container .main .left-side .panel-box1 .table-container .swiper-wrapper {
  width: 100%;
  height: 100%;
  margin-top: 25px;
}
.page-container .main .left-side .panel-box1 .table-container .swiper-wrapper li {
  display: flex;
  width: 100%;
  height: 60px;
  line-height: 40px;
}
.page-container .main .left-side .panel-box1 .table-container .swiper-wrapper li img {
  height: 40px;
  width: 40px;
  margin: 0px 20px 0px 30px;
}
.page-container .main .left-side .panel-box1 .table-container .swiper-wrapper li .progress-list {
  max-width: 80px;
  margin-left: -30px;
  margin-top: 5px;
  height: 15px;
  background: rgba(255,255,255,0.2);
  border-radius: 10px;
  border: none;
}
.page-container .main .left-side .panel-box1 .table-container .swiper-wrapper li progress::-moz-progress-bar {
  background: #0db1e2;
  border-radius: 10px;
}
.page-container .main .left-side .panel-box1 .table-container .swiper-wrapper li progress::-webkit-progress-bar {
  background: rgba(255,255,255,0.2);
  border-radius: 10px;
}
.page-container .main .left-side .panel-box1 .table-container .swiper-wrapper li progress::-webkit-progress-value {
  background: #0db1e2;
  border-radius: 10px;
}
.page-container .main .left-side .panel-box1 .table-container .swiper-wrapper li span {
  text-align: left;
  flex: 1;
  color: #fff;
  margin-left: 50px;
}
.page-container .main .left-side .panel-box1 .table-container .swiper-wrapper li span:first-child {
  padding: 10px 0;
}
.page-container .main .left-side .panel-box1 .table-container .swiper-wrapper li span:last-child {
  border-right: none;
}
.page-container .main .left-side .btn-box,
.page-container .main .right-side .btn-box {
  text-align: right;
  padding: 10px 10px 0;
}
.page-container .main .left-side .btn-box .bin-button,
.page-container .main .right-side .btn-box .bin-button {
  line-height: 25px;
}
.page-container .main .left-side .btn-box .bin-button :hover,
.page-container .main .right-side .btn-box .bin-button :hover {
  background-color: rgba(255,255,255,0.2);
}
.page-container .main .info-bar {
  width: calc(100vw - 1030px);
  height: 100%;
  display: block;
  margin: 0 auto;
  clear: both;
}
.page-container .main .info-bar .num-bar {
  margin: 0 auto;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  right: 0;
  top: 45px;
}
.page-container .main .info-bar .num-bar .num-title {
  height: 50px;
  line-height: 50px;
  display: flex;
}
.page-container .main .info-bar .num-bar .num-title img {
  height: 46px;
  width: 46px;
}
.page-container .main .info-bar .num-bar .num-title span {
  padding-left: 20px;
  color: #fff;
  font-size: 24px;
  height: 38px;
  line-height: 38px;
}
.page-container .main .info-bar .num-bar .num-box {
  width: 435px;
  padding: 10px 0;
  background: url("../images/ankang/num-bg.png") center no-repeat;
  background-size: 100%;
}
.page-container .main .info-bar .cir-container {
  background: url("../images/ankang/tuoyuan2.png") no-repeat;
  background-size: 60%;
  background-position: center bottom;
  margin-top: 20px;
  position: relative;
}
.page-container .main .info-bar .cir-container .centerItem {
  width: 856px;
  height: 450px;
  position: absolute;
  left: -100px;
}
.page-container .main .info-bar .center-bottom {
  margin-bottom: 50px;
}
.page-container .main .info-bar .center-bottom .footer-box {
  z-index: 10;
  align-items: flex-end;
  margin-bottom: 0;
  padding: 0;
}
.page-container .main .info-bar .center-bottom .footer-box .header {
  height: 36px;
  width: 267px;
  margin: 0 auto;
  background: url("../images/ankang/tuxing6.png") center no-repeat;
  background-size: 100%;
  text-align: center;
}
.page-container .main .info-bar .center-bottom .footer-box .header span {
  height: 36px;
  color: #fff;
  font-size: 18px;
  line-height: 150%;
  font-weight: bold;
}
.page-container .main .info-bar .tab-boxes {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 45px;
}
.page-container .main .info-bar .tab-boxes .tab-box {
  width: 200px;
  height: 69px;
  background: url("../images/ankang/anniu01.png") no-repeat;
  background-size: 100%;
  text-align: center;
  padding: 15px;
  z-index: 2;
}
.page-container .main .info-bar .tab-boxes .tab-box span {
  color: #fff;
  font-size: 22px;
  height: 35px;
  line-height: 38px;
}
.page-container .main .info-bar .tab-boxes .active {
  background: url("../images/ankang/anniu02.png");
  background-size: 100%;
}
.page-container .main .info-bar .footer-bg {
  width: 1000px;
  height: 63px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  position: absolute;
}
.page-container .main .info-bar .footer-bg img {
  width: 1000px;
  height: 63px;
}
.page-container .main .right-side {
  position: absolute;
  right: 0;
  top: 0;
  width: 505px;
}
.page-container .main .right-side .btn-box {
  position: absolute;
  z-index: 6;
  right: 20px;
  top: 45px;
  width: 200px;
}
.page-container .main .right-side .btn-box .bin-dropdown-menu {
  text-align: center;
  background-color: #fff;
}
.page-container .main .right-side .btn-box .dropBtn {
  width: 85px;
  background: unset;
  color: #fff;
  border-radius: 20px;
  border-color: #168cd2;
  height: 32px;
  line-height: 30px;
  padding: 0 10px;
}
.page-container .main .right-side .btn-box .dropBtn span {
  color: #168cd2;
}
.page-container .main .right-side .panel-box2 {
  margin: 21px 0;
}
#pieChart1 {
  width: 100%;
  height: 384px;
}
#lineChart1 {
  width: 100%;
  height: 230px;
}
#pieChart2 {
  width: 100%;
  height: 230px;
}
#pieChart3 {
  width: 100%;
  height: 230px;
}
#barChart1 {
  width: 100%;
  height: 230px;
}
.num-list {
  display: flex;
  flex-direction: row;
  padding: 0 20px;
  align-items: flex-end;
}
.num-list span {
  display: inline-block;
  flex: 1;
  width: 60px;
  height: 70px;
  margin: 0 10px;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.num-list .unit {
  color: #fff;
  font-size: 20px;
  height: 24px;
}
.num-list .num-bg-0 {
  background-image: url("../images/num/0.png");
}
.num-list .num-bg-1 {
  background-image: url("../images/num/1.png");
}
.num-list .num-bg-2 {
  background-image: url("../images/num/2.png");
}
.num-list .num-bg-3 {
  background-image: url("../images/num/3.png");
}
.num-list .num-bg-4 {
  background-image: url("../images/num/4.png");
}
.num-list .num-bg-5 {
  background-image: url("../images/num/5.png");
}
.num-list .num-bg-6 {
  background-image: url("../images/num/6.png");
}
.num-list .num-bg-7 {
  background-image: url("../images/num/7.png");
}
.num-list .num-bg-8 {
  background-image: url("../images/num/8.png");
}
.num-list .num-bg-9 {
  background-image: url("../images/num/9.png");
}
