#app {
  position relative
}

.page-container {
  .main {
    position: relative;
    height: calc(1080px - 118px);

    .left-side {
      .panel {
        padding: 15px 0 10px 0;

        .title-container {
          padding: 0 15px;
          padding-bottom: 9px;
        }

        .side-inner {
          margin-top: 4px;
          padding: 0 30px;

          .chart-container {
            height: 370px;

            .progress {
              height: 53px;

              .progress-title {
                color #fff
                padding: 0 10px;
                height: 20px;
                line-height: 20px;

                i {
                  font-size: 14px;
                }
              }

              .bin-progress {
                margin: 8px;

                .bin-progress-bar {
                  padding-right: 0px;

                  .bin-progress-bar__outer {
                    height: 15px;
                  }
                }
              }
            }
          }
        }
      }

      .panel:nth-child(1) {
        padding: 15px 0;
        margin-bottom: 0px;

      }

      .panel:nth-child(2) {
        padding-bottom: 0px;
        margin-bottom: 0px;
      }

      .panel-box2 {
        margin-top: 30px;

        .head {
          display: flex;
          border-top: 1px solid #168cd2;
          border-bottom: 1px solid #168cd2;
          height: 40px;
          line-height: 40px;
          background-color: rgba(3, 61, 124, 0.5);
          //margin-top: 15px;

          span {
            text-align: center;
            flex: 1;
            color: #fff;
          }

          span:nth-child(1) {
            flex: 2.5;
          }

          span:nth-child(2) {
            flex: 1.3;
          }

          span:nth-child(3) {
            flex: 1.3;
          }
        }

        #item-container {
          height: 350px;
          overflow: hidden;
          box-sizing: border-box;

          .swiper-wrapper {
            width: 100%;

            li {
              display: flex;
              width: 100%;
              height: 36px;
              line-height: 36px;

              span {
                text-align: center;
                flex: 1;
                color: #fff;
                border-bottom: 1px solid #168cd2;
              }

              span:nth-child(1) {
                flex: 2.5;
              }

              span:nth-child(2) {
                flex: 1.3;
              }

              span:nth-child(3) {
                flex: 1.3;
              }

              span:last-child {
                border-right: none;
              }
            }

          }


        }
      }
    }

    .left-side, .right-side {
      .btn-box {
        text-align: right;
        padding: 10px 10px 0;

        .bin-button {
          line-height: 25px;
        }

        .bin-button :hover {
          background-color: rgba(255, 255, 255, .2)
        }

      }
    }


    .info-bar {
      width: calc(100vw - 1030px);
      //height: calc(100% - 37px);
      height: 100%;

      display: block;
      margin: 0 auto;
      clear: both;
      position: relative;

      .num-boxes {
        width: calc(100vw - 1030px);
        margin-top: 20px;
        //height :120px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .num-bar {
          flex: 1;
          border: 1px solid #0e7be5;
          z-index: 10;
          display: flex;
          flex-direction: column;
          align-items: flex-start;


          .num-title {
            height: 50px;
            line-height: 50px;
            display: flex;

            img {
              height 46px;
              width: 46px;
            }

            span {
              padding-left 20px;
              color: #fff;
              font-size: 24px;
              height: 38px;
              line-height: 38px;
            }
          }

          .num-box {
            width: 435px;
            margin-bottom: 10px;
          }

        }

      }

      .tab-top {
        width: 500px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top 10px;
        position: absolute;
        right: 0;
        top: 160px;

        .tab-top-item {
          width: 141px;
          height: 54px;
          background: url('../images/ankang/anniu03.png') no-repeat;
          background-size: 100%;
          text-align: center;
          padding: 7px;
          z-index: 2;

          span {
            color: #fff;
            font-size: 20px;
            height 35px;
            line-height: 38px;
          }
        }

        .active {
          background: url("../images/ankang/anniu04.png");
          background-size: 100%;
        }
      }

      .cir-container {
        //height: calc(100vh - 500px);
        //width: calc(100vw - 1010px);
        //position: relative;
        //background: url(../images/ankang/tuoyuan2.png) center no-repeat;
        //background-size: 60%;
        //background-position: center bottom;
        //margin-top: 20px;
        position: relative;
        .bg {
          position: absolute;
          width: 890px;
          height: 100%;
          left: 50%;
          transform: translateX(-50%);
          background-image: url("../images/ankang/tuoyuan2.png");
          background-repeat: no-repeat;
          background-position: center bottom;
          background-size: 75% 100%;
          .active {
            position: absolute;
            bottom -50px;
            left: -5px;
            width: 100px;
            height: 42px;
            background-image: url("../images/ankang/diji.png");
            background-repeat: no-repeat;
            background-size: 100% 100%;
          }
        }
        //.tuoyuan {
        //  position: absolute;
        //  height: 35px;
        //  width: 30px;
        //  bottom :100px;
        //  left :50%;
        //  transform :translateX(-50%);
        //  background: url(../images/ankang/tuoyuan1.png) no-repeat;
        //  background-size: 100% 75%;
        //  animation rotate-cir-7 infinite 120s
        //}


        //.section {
        //  position: relative;
        //  height: 100%;
        //
        //  .loop-run {
        //    position: absolute;
        //    left: 170px;
        //    bottom: 70px;
        //    width: 570px;
        //    height: 110px;
        //    /*background: #005E82;*/
        //    border-radius: 50%;
        //  }
        //
        //  .bg {
        //    position: absolute;
        //    width: 890px;
        //    height: 325px;
        //    left: 50%;
        //    transform: translateX(-50%);
        //    bottom: 40px;
        //    background-image: url("../images/ankang/tuoyuan2.png");
        //    background-repeat: no-repeat;
        //    background-position: 36% 30px;
        //    background-size: 96% 100%;
        //
        //    &:hover {
        //      .circle1,
        //      .circle2,
        //      .circle3,
        //      .circle4,
        //      .circle5 {
        //        animation-play-state: paused !important;
        //      }
        //    }
        //  }
        //
        //  .circle {
        //    width: 126px;
        //    position: absolute;
        //
        //    &.active {
        //
        //      &::after {
        //        content: "";
        //        display: block;
        //        width: 100px;
        //        height: 42px;
        //        margin-top: -10px;
        //        margin-left: -6px;
        //        background-image: url("../images/ankang/diji.png");
        //        background-repeat: no-repeat;
        //        background-size: 100% 100%;
        //        z-index: -1;
        //      }
        //    }
        //
        //
        //    &.circle1 {
        //      z-index: 5;
        //      animation: animX 6s cubic-bezier(0.36, 0, 0.64, 1) -3s infinite alternate,
        //              animY 6s cubic-bezier(0.36, 0, 0.64, 1) 0s infinite alternate;
        //      /*scale 12s cubic-bezier(0.36, 0, 0.64, 1) 0s infinite alternate;*/
        //    }
        //
        //    &.circle2 {
        //      animation: animX 6s cubic-bezier(0.36, 0, 0.64, 1) -5.4s infinite alternate,
        //              animY 6s cubic-bezier(0.36, 0, 0.64, 1) -2.4s infinite alternate;
        //      //scale 12s cubic-bezier(0.36, 0, 0.64, 1) -2.4s infinite alternate;
        //    }
        //
        //    &.circle3 {
        //      animation: animX 6s cubic-bezier(0.36, 0, 0.64, 1) -7.8s infinite alternate,
        //              animY 6s cubic-bezier(0.36, 0, 0.64, 1) -4.8s infinite alternate;
        //      /*scale 12s cubic-bezier(0.36, 0, 0.64, 1) -4.8s infinite alternate;*/
        //    }
        //
        //    &.circle4 {
        //      animation: animX 6s cubic-bezier(0.36, 0, 0.64, 1) -10.2s infinite alternate,
        //              animY 6s cubic-bezier(0.36, 0, 0.64, 1) -7.2s infinite alternate;
        //      //scale 12s cubic-bezier(0.36, 0, 0.64, 1) -7.2s infinite alternate;
        //    }
        //
        //    &.circle5 {
        //      animation: animX 6s cubic-bezier(0.36, 0, 0.64, 1) -12.6s infinite alternate,
        //              animY 6s cubic-bezier(0.36, 0, 0.64, 1) -9.6s infinite alternate;
        //      /*scale 12s cubic-bezier(0.36, 0, 0.64, 1) -9.6s infinite alternate;*/
        //    }
        //
        //    .title {
        //      color: #fff;
        //      font-size: 18px;
        //    }
        //
        //    .count {
        //      position: absolute;
        //      top: 38px;
        //      left: 20px;
        //      color: #01c4f9;
        //      font-size: 20px;
        //    }
        //
        //    .bottom-img {
        //      width: 82px;
        //      z-index: 5;
        //    }
        //  }
        //
        //  @keyframes animX {
        //    0% {
        //      left: -4%;
        //    }
        //
        //    100% {
        //      left: 96%;
        //    }
        //  }
        //
        //  @keyframes animY {
        //    0% {
        //      top: 60%;
        //    }
        //
        //    100% {
        //      top: -70%;
        //    }
        //  }
        //
        //  @keyframes scale {
        //    0% {
        //      transform: scale(0.5);
        //      opacity: 0.5;
        //    }
        //
        //    50% {
        //      transform: scale(1);
        //      opacity: 1;
        //    }
        //
        //    100% {
        //      transform: scale(0.5);
        //      opacity: 0.5;
        //    }
        //  }
        //}


      }

      .center-bottom {
        //margin-bottom: 50px;

        .footer-box {
          //width: calc(100vw - 1010px);
          z-index: 10;
          align-items: flex-end;
          margin-bottom: 0;
          padding: 0;


          .header {
            height: 36px;
            width: 267px;
            margin: 0 auto;
            background: url(../images/ankang/tuxing6.png) center no-repeat;
            background-size: 100%;
            text-align: center;
            margin-bottom: 10px;

            span {
              height: 36px;
              color: rgba(255, 255, 255, 1);
              font-size: 18px;
              line-height: 150%;
              font-weight: bold;
            }
          }

          .head {
            display: flex;
            border: 1px solid #168cd2;
            border-bottom: none;
            height: 35px;
            line-height: 35px;
            background-color: rgba(3, 61, 124, 0.5);

            span {
              text-align: center;
              flex: 1;
              color: #fff;
            }

            span:nth-child(1) {
              flex: 1.5;
            }

            span:nth-child(4) {
              flex: 1.5;
            }
          }

          #ftable-container, #jtable-container, #gtable-container {
            height: 210px;
            overflow: hidden;
            box-sizing: border-box;

            .swiper-wrapper {
              width: 100%;

              li {
                display: flex;
                width: 100%;
                height: 30px;
                line-height: 30px;

                span {
                  text-align: center;
                  flex: 1;
                  color: #fff;
                  border-bottom: 1px solid #168cd2;
                }

                span:nth-child(1) {
                  flex: 1.5;
                }

                span:nth-child(4) {
                  flex: 1.5;
                }

                span:last-child {
                  border-right: none;
                  color: #cd5d43;
                }
              }

            }

          }
        }


      }

      .tab-boxes {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 45px;
        margin-top: 20px;

        .tab-box {
          width: 200px;
          height: 69px;
          background: url('../images/ankang/anniu01.png') no-repeat;
          background-size: 100%;
          text-align: center;
          padding: 15px;
          z-index: 2;

          span {
            color: #fff;
            font-size: 22px;
            height 35px;
            line-height: 38px;
          }
        }

        .active {
          background: url("../images/ankang/anniu02.png");
          background-size: 100%;
        }
      }

      .footer-bg {
        width 1000px;
        height 63px;
        left 50%;
        transform translateX(-50%);
        bottom: 0;
        position: absolute;

        img {
          width 1000px;
          height 63px;
        }
      }
    }

    .right-side {
      .panel {
        margin 0;
      }

      .panel-box2 {
        margin-top: 30px;
      }

      .btn-box {
        position: absolute;
        z-index: 6;
        right: 20px;
        top: 45px;
        width: 300px;

        .one-star-style {
          img {
            display flex
            width 20px;
            height 20px;
          }
        }
      }
    }

  }

}

//echarts面板样式

#barChart1 {
  width: 100%
  height: 384px;
}

#lineChart1 {
  width: 100%
  height: 384px;
}

#pieChart1 {
  width: 100%
  height: 384px;
}

//大屏数字样式

.num-list {
  display flex;
  flex-direction: row;
  padding: 0 20px;
  align-items: flex-end;

  span {
    display: inline-block;
    flex: 1;
    width: 60px;
    height: 70px;
    margin: 0 10px;
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
  }

  .unit {
    color: #fff;
    font-size: 20px;
    height: 24px;

  }

  .num-bg-0 {
    background-image: url(../images/num/0.png)
  }

  .num-bg-1 {
    background-image: url(../images/num/1.png)
  }

  .num-bg-2 {
    background-image: url(../images/num/2.png)
  }

  .num-bg-3 {
    background-image: url(../images/num/3.png)
  }

  .num-bg-4 {
    background-image: url(../images/num/4.png)
  }

  .num-bg-5 {
    background-image: url(../images/num/5.png)
  }

  .num-bg-6 {
    background-image: url(../images/num/6.png)
  }

  .num-bg-7 {
    background-image: url(../images/num/7.png)
  }

  .num-bg-8 {
    background-image: url(../images/num/8.png)
  }

  .num-bg-9 {
    background-image: url(../images/num/9.png)
  }
}

//专项预警水球旋转
//$p = 156
$p = 140
$itemW = 134
$itemH = 134
$rotateW = 4 * $p
$rotateH = 3.46 * $p
.rotate
  position absolute
  margin 0 auto
  top 50%
  left 50%
  width ($rotateW) px
  height: ($rotateH) px
  transform-style preserve-3d
  // transform rotateX(-10deg)
  // background-color: #fff
  animation rotate3d linear 30s infinite
  z-index 92

  &:hover
    animation-play-state: paused;
    -webkit-animation-play-state: paused;

    .rotate-inner
      .rotate-inner-item
        animation-play-state: paused;
        -webkit-animation-play-state: paused;

  .rotate-inner
    position relative
    width: 100%
    height: 100%
    color #fff

    .rotate-inner-item
      animation rotate3dOpposite linear infinite 30s
      text-align center
      width: ($itemW) px
      height: ($itemH) px
      position relative

      &:nth-child(1)
        position absolute
        top: (0 - $itemH/ 2) px //-75px
        left: ($p - $itemW/ 2) px

      //81

      &:nth-child(2)
        position absolute
        top: (0 - $itemH/ 2) px //-75
        left: ($p* 3 - $itemW/ 2) px

      //393

      &:nth-child(3)
        position absolute
        top: ($rotateH/ 2 - $itemH/ 2) px //464.76
        left: ($p* 4 - $itemW/ 2) px

      //549

      &:nth-child(4)
        position absolute
        top: ($rotateH - $itemH/ 2) px //464.76
        left: ($p* 3 - $itemW/ 2) px

      //393

      &:nth-child(5)
        position absolute
        top: ($rotateH - $itemH/ 2) px //464.76
        left: ($p - $itemW/ 2) px

      //81

      &:nth-child(6)
        position absolute
        top: ($rotateH/ 2 - $itemH/ 2) px //194.88
        left: (0 - $itemW/ 2) px


      .cir-bg
        position absolute
        left: 50%
        top: 50%
        width: 90px
        height: 90px
        text-align center
        transform translate(-50%, -50%) rotateX(70deg) scaleY(7)
        //background-image: url('../images/ankang/tu6.png')
        background-position: center bottom
        -webkit-background-size: 100% 100%
        background-size: 100% 100%
        background-repeat: no-repeat

        .inner-item-text
          position absolute
          top 28px
          width: 100%
          //padding-top: 30px

          p
            font-size: 16px
            text-align center

          .text-title
            font-size: 10px
            text-align center
            width: 100%

          .text-count
            font-weight: 700
            font-size: 10px

            .unit-font
              font-size: 12px

          .text-percent
            position absolute
            bottom: -40px
            left: 35px
            font-weight: 700
            color #fbc606


.rotate1
  position absolute
  margin 0 auto
  top 50%
  left 50%
  width 560px
  height: 560px
  transform-style preserve-3d
  // transform rotateX(-10deg)
  // background-color: #fff
  animation rotate3d linear 30s infinite
  z-index 92

  &:hover
    animation-play-state: paused;
    -webkit-animation-play-state: paused;

    .rotate-inner
      .rotate-inner-item
        animation-play-state: paused;
        -webkit-animation-play-state: paused;

  .rotate-inner
    position relative
    width: 100%
    height: 100%
    color #fff

    .rotate-inner-item
      animation rotate3dOpposite linear infinite 30s
      text-align center
      width: 200px
      height: 200px
      position relative

      &:nth-child(1)
        position absolute
        top: 0px //-75px
        left: -10 px

      //81

      &:nth-child(2)
        position absolute
        top: -65 px //-75
        left: 295px

      //393

      &:nth-child(3)
        position absolute
        top: 170px //464.76
        left: 450px

      //549

      &:nth-child(4)
        position absolute
        top: 400px //464.76
        left: 300px

      //393

      &:nth-child(5)
        position absolute
        top: 375px //464.76
        left: 5px


      .cir-bg
        position absolute
        left: 50%
        top: 50%
        width: 90px
        height: 90px
        text-align center
        transform translate(-50%, -50%) rotateX(70deg) scaleY(7)
        background-position: center bottom
        -webkit-background-size: 100% 100%
        background-size: 100% 100%
        background-repeat: no-repeat

        .inner-item-text
          position absolute
          top 28px
          left -13px
          width: 130%
          //padding-top: 30px

          p
            font-size: 16px
            text-align center

          .text-title
            font-size: 10px
            text-align center
            width: 100%

          .text-count
            font-weight: 700
            font-size: 10px

            .unit-font
              font-size: 12px

          .text-percent
            position absolute
            bottom: -40px
            left: 45px
            font-weight: 700
            color #fbc606


.rotate2
  position absolute
  margin 0 auto
  top 50%
  left 50%
  transform translate(-50%,-50%)
  width 300px
  height: 260px
  transform-style preserve-3d
  animation rotate3d linear 30s infinite
  z-index 92

  &:hover
    animation-play-state: paused;
    -webkit-animation-play-state: paused;

    .rotate-inner
      .rotate-inner-item
        animation-play-state: paused;
        -webkit-animation-play-state: paused;

  .rotate-inner
    position relative
    width: 100%
    height: 100%
    color #fff

    .rotate-inner-item
      animation rotate3dOpposite linear infinite 30s
      text-align center
      //width: 200px
      //height: 200px
      position relative

      &:nth-child(1)
        position absolute
        top: 0px //-75px
        left: 0 px

      &:nth-child(2)
        position absolute
        top: 60px //464.76
        left: 300px

      &:nth-child(3)
        position absolute
        top: 300px //464.76
        left: 60px


      .cir-bg
        position absolute
        left: 50%
        top: 50%
        width: 90px
        height: 90px
        text-align center
        transform translate(-50%, -50%) rotateX(70deg) scaleY(7)
        background-position: center bottom
        -webkit-background-size: 100% 100%
        background-size: 100% 100%
        background-repeat: no-repeat

        .inner-item-text
          position absolute
          top 28px
          //left -13px
          //width: 130%
          //padding-top: 30px

          p
            font-size: 16px
            text-align center

          .text-title
            font-size: 10px
            font-weight: 700
            text-align center
            width: 100%

          .text-count
            font-weight: 700
            font-size: 18px
            color: #01c4f9;
            position absolute
            top 20px
            left 22px



.earth-wrapper
  position relative
  overflow: hidden

  .title-count
    position absolute
    top: 35%
    left: 50%
    transform translateX(-50%)
    color: #fff
    text-align center
    z-index 100
    font-size: 18px

    i
      text-shadow 0 0 4px #1b131a

    .num
      font-size: 28px

  img
    position absolute
    left: 50%
    top: 50%
    transform translate(-50%, -50%)
    z-index 90

  .cir-1
    position absolute
    left: 50%
    top: 50%
    width: 600px
    height: 600px
    transform translate(-50%, -35%) scale(0.7) rotateX(70deg)
    border: 4px solid #3f96e0
    -webkit-border-radius: 50%
    -moz-border-radius: 50%
    border-radius: 50%

  .cir-2
    @extend .cir-1
    z-index 10
    background-color: rgba(5, 26, 77, 0.8)
    border-color: transparent
    transform translate(-50%, -48%) scale(0.48) rotateX(0)

  .cir-3
    @extend .cir-1
    transform translate(-50%, -35%) scale(0.75) rotateX(70deg)

  .cir-4
    @extend .cir-1
    transform translate(-50%, -35%) scale(0.9) rotateX(70deg)
    border-color transparent
    box-shadow 0 0 70px rgba(2, 176, 240, 1) inset

  .cir-5
    @extend .cir-1
    width: 50px
    height: 50px
    border: 1px dotted rgba(60, 150, 224, 0.4)
    transform translate(-50%, 132%) scale(12) rotateX(70deg)
    animation rotate-cir-5 infinite 120s

  .cir-6
    @extend .cir-1
    width: 100px
    height: 100px
    border: 1px dashed rgba(60, 150, 224, 0.5)
    transform translate(-50%, 42%) scale(7) rotateX(70deg)
    animation rotate-cir-6 infinite 120s

  .cir-7
    @extend .cir-1
    background-image: url(../images/yuan01.png)
    width: 50px
    height: 50px
    -webkit-background-size: cover
    background-size: cover
    background-repeat: no-repeat
    animation rotate-cir-7 infinite 120s
    border-color transparent

  .cir-8
    @extend .cir-1
    width: 50px
    height: 50px
    background-image: url(../images/yuan02.png)
    background-repeat: no-repeat
    border-color transparent
    animation rotate-cir-7 infinite 120s

@keyframes rotate-cir-5
  0% {
    transform: translate(-50%, 132%) scale(12) rotateX(70deg) rotateZ(0)
  }
  50% {
    transform: translate(-50%, 132%) scale(12) rotateX(70deg) rotateZ(0.5turn)
  }
  100% {
    transform: translate(-50%, 132%) scale(12) rotateX(70deg) rotateZ(1turn)
  }

@keyframes rotate-cir-6
  0% {
    transform: translate(-50%, 42%) scale(7) rotateX(70deg) rotateZ(0)
  }
  50% {
    transform: translate(-50%, 42%) scale(7) rotateX(70deg) rotateZ(-0.5turn)
  }
  100% {
    transform: translate(-50%, 42%) scale(7) rotateX(70deg) rotateZ(-1turn)
  }

@keyframes rotate-cir-7
  0% {
    transform: translate(-50%, 140%) scale(18) rotateX(70deg) rotateZ(0)
  }
  50% {
    transform: translate(-50%, 140%) scale(18) rotateX(70deg) rotateZ(-0.5turn)
  }
  100% {
    transform: translate(-50%, 140%) scale(18) rotateX(70deg) rotateZ(-1turn)
  }

@keyframes rotate3d {
  0% {
    transform: translate(-50%, -50%) rotateX(65deg) rotateZ(0) scale(1.4)
  }
  100% {
    transform: translate(-50%, -50%) rotateX(65deg) rotateZ(1turn) scale(1.4)
  }
}

@keyframes rotate3dOpposite {
  0% {
    transform: rotateZ(0)
  }
  100% {
    transform: rotateZ(-1turn)
  }
}

//水球图高度设置
#zliquidFill1, #zliquidFill2, #zliquidFill3, #zliquidFill4, #zliquidFill5, #zliquidFill6 {
  height: 90px;
  width: 90px;
}

#cliquidFill1, #cliquidFill2, #cliquidFill3, #cliquidFill4, #cliquidFill5, #cliquidFill6 {
  height: 90px;
  width: 90px;
}

