#app {
  position: relative;
  //height: 1080px;
}

.page-container {
  .main {
    position: relative;
    height: calc(1080px - 118px);

    .left-side {
      .panel {
        margin-bottom: 0;
        padding: 15px 0 10px 0;

        .title-container {
          padding: 0 15px;
          padding-bottom: 9px;
        }

        //.bin-progress {
        //  margin-bottom: 28px;
        //}
        //
        //.bin-progress:n-child(1) {
        //  margin-bottom: 0
        //}

      }

      //.panel:nth-child(1) {
      //  padding: 15px 0 0 0;
      //
      //  .title-container {
      //    padding: 0 15px;
      //    padding-bottom: 9px;
      //  }
      //}
      //
      //.panel:nth-child(2) {
      //  padding: 15px 0 0 0;
      //
      //  .title-container {
      //    padding: 0 15px;
      //    padding-bottom: 6px;
      //  }
      //}

      .panel-box2 {
        margin: 21 0px;
      }

      .head {
        display: flex;
        border-top: 1px solid #168cd2;
        border-bottom: 1px solid #168cd2;
        height: 40px;
        line-height: 40px;
        background-color: rgba(3, 61, 124, 0.5);
        //margin-top: 15px;

        span {
          text-align: center;
          flex: 1;
          color: #fff;
        }

        span:nth-child(1) {
          flex: 2.2;
        }

        span:nth-child(2) {
          flex: 1;
        }

        span:nth-child(3) {
          flex: 1.3;
        }
      }

      .swiper-container {
        height: 340px;
        overflow: hidden;
        box-sizing: border-box;
        .swiper-wrapper {
          padding-bottom: 26px;
          margin-bottom: 20px;
          height: 330px;

          .swiper-slide {
            display: flex;
            flex-direction: row;
            height: 32px;
            line-height: 32px;
            text-align: center;
            font-size: 12px;
            color: #fff;

            div {
              i {
                font-size: 12px;
                margin: 0;
              }
            }
          }
        }
      }
    }

    .left-side, .right-side {
      .btn-box {
        text-align: right;
        padding: 10px 10px 0;

        .bin-button {
          line-height: 25px;
        }

        .bin-button :hover {
          background-color: rgba(255, 255, 255, .2)
        }

      }
    }


    .info-bar {
      width: calc(100% - 1030px);
      //height: calc(100% - 37px);
      height: 100%;

      display: block;
      margin: 0 auto;
      clear: both;
      position: relative;

      .content {
        height: 100%;
        width: 100%;
        .tab-top {
          width :150px;
          height :300px;
          display: flex;
          flex-direction :column;
          justify-content: space-around;
          align-items: center;
          margin-top 10px;
          position: absolute;
          left: 0;
          top: 0;

          .tab-top-item {
            width: 141px;
            height: 54px;
            background: url('../images/ankang/anniu03.png') no-repeat;
            background-size: 100%;
            text-align: center;
            padding: 7px;
            z-index: 2;

            span {
              color: #fff;
              font-size: 20px;
              height 35px;
              line-height: 38px;
            }
          }
          .active {
            background: url("../images/ankang/anniu04.png");
            background-size: 100%;
          }
        }

        .info-main-wrapper {
          position: relative;
          width: 100%;
          height: 100%;

          .big-data-charts {
            position: relative;
            width: 100%;
            height: 100%;


            .chassis {
              position: absolute;
              left: calc(50% - 381px);
              bottom: 0;
              width: 782px;
              height: 228px;
              margin-bottom: 60px;
              background-image: url("../images/ankang/tuxing7.png");
              background-repeat: no-repeat;
              background-position: center bottom;
            }

            .data-content {
              position: relative;
              width: 100%;
              height: 100%;
              text-align: center;

              img {
                position: absolute;
                left: calc(50% - 185px);
                bottom: 190px;
              }
              .ceng{
                display: flex;
                flex-direction column;
                span{
                  position absolute;
                  left :50%;
                  transform translateX(-40px);
                  font-size :24px;
                  color :#fff;
                  font-weight: 700;
                  padding :30px 50px;
                }
                span:nth-child(1){
                  bottom :390px;
                }
                span:nth-child(2){
                  bottom :310px;
                }
                span:nth-child(3){
                 bottom :210px;
                }
              }

            }
          }

          .company-card {
            position: absolute;

            .company-title {
              position: absolute;
              top: 18%;
              left: 23.513%;
              font-size: 25px;
              font-weight: bold;
              color: #fff;
            }

            .company-desc {
              position: absolute;
              top: 60%;
              left: 25%;
              font-size: 14px;
              color: #28b0f3;
            }

            .level-icon {
              position: absolute;
              top: 12%;
              right: 15%;
              //height: 65%;
              //width: 19%;
              padding: 4% 3%;
              box-sizing: border-box;
              border-radius: 50%;
              background-color: #001c58;
            }

            .bg {
              position: absolute;
              top: 0;
              right: 0;
              height: 90%;
              width: 86%;
            }

            .circle {
              position: absolute;
              left: 0;
              bottom: 0;
              height: 45%;
              //width: 14%;
            }

            &:hover {
              opacity: 1 !important;
            }

            &.reverse {
              .company-title {
                left: unset;
                right: 23.513%;
              }

              .company-desc {
                left: unset;
                right: 25%;
              }

              .level-icon {
                position: absolute;
                top: 12%;
                left: 15%;
                right: unset;
              }

              .bg {
                position: absolute;
                top: 0;
                left: 0;
                transform: rotateY(180deg);
              }

              .circle {
                left: unset;
                right: 0;
              }
            }
          }
          .cardActive{
            width: 300px !important; height: 90px !important;opacity: 1 !important;
          }
          .card1{
            width: 268px; height: 86px; opacity: 60%; top: 87px; right: 0;
          }
          .card2{
            width: 268px; height: 86px; opacity: 60%; right: 74px; top: 223px;
          }
          .card3{
            width: 268px; height: 86px; opacity: 60%; right: 0px; top: 315px;
          }
          .card4{
            width: 268px; height: 86px; opacity: 60%; left: 222px; top: 105px;
          }
          .card5{
            width: 268px; height: 86px; opacity: 60%; left: 65px; top: 367px;
          }
          .company-detail-card {
            position: absolute;
            right: 22px;
            bottom: 66px;
            width: 286px;
            height: 281px;
            border-radius: 8px;
            background-color: rgba(5, 26, 59, .7);

            .hd {
              height: 36px;
              width: 100%;
              line-height: 36px;
              color: #fff;
              text-align: center;
              font-size: 17px;
              background-image: url("../images/ankang/tuxing6.png");
              background-position: center top;
              background-repeat: no-repeat;
              //background-size: 100% 100%;
            }

            .bd {
              position: relative;

              .company-img {
                position: absolute;
                top: 11px;
                right: 18px;
              }

              .company-title {
                padding-top: 31px;
                padding-left: 25px;
                width :160px;
                font-size: 19px;
                color: #00bffe;
              }

              .company-details {
                display: flex;
                flex-direction: column;
                margin-top: 40px;

                .detail-item {
                  display: flex;
                  padding: 10px 0;

                  font-size: 14px;
                  color: #fff;

                  .key {
                    width: 88px;
                    margin-left: 25px;
                  }

                  .value {
                    flex: 1;
                  }
                }
              }


            }
          }
        }
      }

      .num-boxes {
        width: calc(100vw - 1030px);
        margin-top: 20px;
        //height :120px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .num-bar {
          flex: 1;
          border: 1px solid #0e7be5;
          z-index: 10;
          display: flex;
          flex-direction: column;
          align-items: flex-start;


          .num-title {
            height: 50px;
            line-height: 50px;
            display: flex;

            img {
              height 46px;
              width: 46px;
            }

            span {
              padding-left 20px;
              color: #fff;
              font-size: 24px;
              height: 38px;
              line-height: 38px;
            }
          }

          .num-box {
            width: 435px;
            margin-bottom: 10px;
          }

        }

      }

      .tab-top {
        width: 500px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top 10px;
        position: absolute;
        right: 0;
        top: 160px;

        .tab-top-item {
          width: 141px;
          height: 54px;
          background: url('../images/ankang/anniu03.png') no-repeat;
          background-size: 100%;
          text-align: center;
          padding: 7px;
          z-index: 2;

          span {
            color: #fff;
            font-size: 20px;
            height 35px;
            line-height: 38px;
          }
        }

        .active {
          background: url("../images/ankang/anniu04.png");
          background-size: 100%;
        }
      }

      .cir-container {
        //height: calc(100vh - 500px);
        //width: calc(100vw - 1010px);
        //position: relative;
        background: url(../images/ankang/tuoyuan2.png) center no-repeat;
        background-size: 100%;
        margin-top: 20px;
        position: relative;

        .earth-bg {
          position: absolute;
          top: -10px;
          left: 60px;
          z-index: 0

        }

      }

      .center-bottom {
        margin-bottom: 50px;


      }

      .tab-boxes {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 45px;

        .tab-box {
          width: 200px;
          height: 69px;
          background: url('../images/ankang/anniu01.png') no-repeat;
          background-size: 100%;
          text-align: center;
          padding: 15px;
          z-index: 2;

          span {
            color: #fff;
            font-size: 22px;
            height 35px;
            line-height: 38px;
          }
        }

        .active {
          background: url("../images/ankang/anniu02.png");
          background-size: 100%;
        }
      }

      .footer-bg {
        width 1000px;
        height 63px;
        left 50%;
        transform translateX(-50%);
        bottom: 0;
        position: absolute;

        img {
          width 1000px;
          height 63px;
        }
      }
    }

    .right-side {
      .panel {
        margin 0;
      }

      .panel-box2 {
        margin: 21px 0;
      }

      .panel-content {
        padding: 5px 30px 0px 23px;

        .level-wrapper {
          padding-top: 10px;

          .level-item {
            position: relative;
            height: 23px;
            margin-bottom: 20px;

            .level-title {
              width: 36px;
              font-size: 16px;
              color: #fff;
            }

            .bin-progress {
              flex: 1;

              .bin-progress-bar {
                padding-right: 0;
              }
            }

            .level-num {
              position: absolute;
              right: 30px;
              width: 40px;
              font-size: 10px;
              font-weight: 700;
              line-height: 20px;
              color: #01b9ee;
            }
          }
        }
      }

    }

  }

}

//echarts面板样式

#lineChart1 {
  width: 100%
  height: 230px;
}

#barChart1 {
  width: 100%
  height: 230px;
}

#barChart2 {
  width: 100%
  height: 230px;
}



