.right-box{
    width: 100%;
    height: 100%;
    padding: 15px 30px;
}
/*.right-box .info-box{
    width: 100%;
    padding: 15px 40px 15px 10px;
}
.right-box .info-box .num{
    font-size: 22px;
    color: rgba(20, 187, 245, 1);
    font-weight: bold;
}*/
/*.bin-select{
    line-height: 40px;
    height: 40px;
}
.bin-select-selection{
    border-radius: 20px;
    background-color: rgba(8, 38, 85, 1);
    border: 1px solid rgba(53, 159, 253, 1);
    color: #fff;
    line-height: 40px;
    height: 40px;
    font-size: 18px;
}
.bin-select-single .bin-select-selection{
    height: 40px;
    line-height: 40px;
}
.bin-select-single .bin-select-selection .bin-select-placeholder, .bin-select-single .bin-select-selection .bin-select-selected-value{
    height: 40px;
    line-height: 40px;
    font-size: 16px;
}
.bin-select-arrow{
    color: #fff;
}*/
.right-box .bottom-img{
    width: 100%;
    height: 27px;
    background-image: url('../../images/model-bottom.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.right-box .btn-box{
    width: 100%;
    padding: 30px 0px;
}
.right-box .btn-box .btn{
    width: 185px;
    height: 40px;
    border: 1px solid rgba(16, 137, 255, 1);
    background-color: rgba(8, 38, 85, 1);
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    border-radius: 20px;
}
.right-box .btn-box .btn:hover{
    background-color: rgba(16, 137, 255, 0.5);
    border: none;
    transition: width 0.4s;
}
.right-box .btn-box .btn-active{
    background-color: rgba(16, 137, 255, 0.5);
    border: none;
}
