#app {
  position: relative;
}
.earth-bg {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 400px;
  height: 400px;
  transform: translate(-50%, -50%);
  z-index: 0;
}
.earth-bg .model-container {
  width: 100%;
  height: 100%;
}
.page-container {
  background-color: #090d30;
}
.page-container .main {
  position: relative;
  height: calc(1224px - 100px);
}
.page-container .main .left-side .btn-box,
.page-container .main .right-side .btn-box {
  text-align: right;
  padding: 0 10px;
}
.page-container .main .left-side .btn-box .bin-button,
.page-container .main .right-side .btn-box .bin-button {
  line-height: 25px;
}
.page-container .main .left-side .btn-box .active,
.page-container .main .right-side .btn-box .active {
  padding: 0 15px;
  border-radius: 20px;
  border: 1px solid #168cd2;
}
.page-container .main .left-side .btn-box .active span,
.page-container .main .right-side .btn-box .active span {
  color: #168cd2 !important;
}
.page-container .main .left-side .footer-box,
.page-container .main .right-side .footer-box {
  z-index: 10;
  align-items: flex-end;
}
.page-container .main .left-side .footer-box .head,
.page-container .main .right-side .footer-box .head {
  display: flex;
  border: 1px solid #168cd2;
  border-bottom: none;
  height: 25px;
  line-height: 25px;
  background-color: #093c95;
}
.page-container .main .left-side .footer-box .head span,
.page-container .main .right-side .footer-box .head span {
  text-align: center;
  flex: 1;
  color: #fff;
}
.page-container .main .left-side .footer-box .head span:nth-child(1),
.page-container .main .right-side .footer-box .head span:nth-child(1) {
  flex: 1.5;
  text-overflow: ellipsis;
}
.page-container .main .left-side .footer-box .head span:nth-child(2),
.page-container .main .right-side .footer-box .head span:nth-child(2) {
  flex: 1.2;
}
.page-container .main .left-side .footer-box .head span:nth-child(3),
.page-container .main .right-side .footer-box .head span:nth-child(3) {
  flex: 1.2;
}
.page-container .main .left-side .footer-box .table-container,
.page-container .main .right-side .footer-box .table-container {
  height: 150px;
  overflow: hidden;
  box-sizing: border-box;
  border: 1px solid #168cd2;
}
.page-container .main .left-side .footer-box .table-container .swiper-wrapper,
.page-container .main .right-side .footer-box .table-container .swiper-wrapper {
  width: 100%;
}
.page-container .main .left-side .footer-box .table-container .swiper-wrapper li,
.page-container .main .right-side .footer-box .table-container .swiper-wrapper li {
  display: flex;
  width: 100%;
  height: 30px;
  line-height: 30px;
}
.page-container .main .left-side .footer-box .table-container .swiper-wrapper li span,
.page-container .main .right-side .footer-box .table-container .swiper-wrapper li span {
  text-align: center;
  flex: 1;
  color: #fff;
  border-right: 1px solid #168cd2;
  border-bottom: 1px solid #168cd2;
}
.page-container .main .left-side .footer-box .table-container .swiper-wrapper li span:nth-child(1),
.page-container .main .right-side .footer-box .table-container .swiper-wrapper li span:nth-child(1) {
  flex: 1.5;
  text-overflow: ellipsis;
}
.page-container .main .left-side .footer-box .table-container .swiper-wrapper li span:nth-child(2),
.page-container .main .right-side .footer-box .table-container .swiper-wrapper li span:nth-child(2) {
  flex: 1.2;
}
.page-container .main .left-side .footer-box .table-container .swiper-wrapper li span:nth-child(3),
.page-container .main .right-side .footer-box .table-container .swiper-wrapper li span:nth-child(3) {
  flex: 1.2;
}
.page-container .main .left-side .footer-box .table-container .swiper-wrapper li span:last-child,
.page-container .main .right-side .footer-box .table-container .swiper-wrapper li span:last-child {
  border-right: none;
}
.page-container .main .left-side {
  position: absolute;
  left: 0;
  top: 0;
  width: 505px;
  padding: 20px;
  color: #fff;
}
.page-container .main .info-bar {
  width: calc(100vw - 1010px);
  height: calc(100% - 37px);
  display: block;
  margin: 0 auto;
  clear: both;
}
.page-container .main .info-bar .num-bar {
  margin: 0 auto;
  z-index: 10;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.page-container .main .info-bar .num-bar .num-bar-title {
  color: #fff;
  font-size: 22px;
  letter-spacing: 6px;
  padding-right: 20px;
}
.page-container .main .info-bar .num-bar .num-bar-title .title-inner {
  width: 130px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  text-align: justify;
  vertical-align: bottom;
}
.page-container .main .info-bar .num-bar .num-bar-title .title-inner:after {
  width: 100%;
  display: inline-block;
  content: '';
}
.page-container .main .info-bar .num-bar .num-box {
  width: 700px;
  position: relative;
  background-color: #162e5c;
  border: 1px solid #4674d6;
}
.page-container .main .info-bar .num-bar .num-box .corner {
  position: absolute;
}
.page-container .main .info-bar .num-bar .num-box .corner:nth-child(2) {
  width: 10px;
  height: 10px;
  top: 0;
  left: 0;
  border-top: 1px solid #01faf9;
  border-left: 1px solid #01faf9;
}
.page-container .main .info-bar .num-bar .num-box .corner:nth-child(3) {
  width: 10px;
  height: 10px;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #01faf9;
  border-left: 1px solid #01faf9;
}
.page-container .main .info-bar .num-bar .num-box .corner:nth-child(4) {
  width: 10px;
  height: 10px;
  top: 0;
  right: 0;
  border-top: 1px solid #01faf9;
  border-right: 1px solid #01faf9;
}
.page-container .main .info-bar .num-bar .num-box .corner:nth-child(5) {
  width: 10px;
  height: 10px;
  bottom: 0;
  right: 0;
  border-bottom: 1px solid #01faf9;
  border-right: 1px solid #01faf9;
}
.page-container .main .info-bar .info-boxes {
  height: 180px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  align-items: center;
}
.page-container .main .info-bar .info-boxes .info-box {
  width: 175px;
  height: 88px;
  background: url("../images/rencheng/info-bg.png") no-repeat;
  background-size: 100%;
  text-align: center;
  padding: 15px;
  margin: 20px 0;
  z-index: 2;
}
.page-container .main .info-bar .info-boxes .info-box .info-num {
  color: #4bc7fb;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 10px;
}
.page-container .main .info-bar .info-boxes .info-box .info-text {
  color: #fff;
  font-size: 16px;
}
.page-container .main .info-bar .footer-box {
  width: calc(100vw - 1010px);
  z-index: 10;
  align-items: flex-end;
  margin-bottom: 0;
}
.page-container .main .info-bar .footer-box .head {
  display: flex;
  border: 1px solid #168cd2;
  border-bottom: none;
  height: 25px;
  line-height: 25px;
  background-color: #093c95;
}
.page-container .main .info-bar .footer-box .head span {
  text-align: center;
  flex: 1;
  color: #fff;
}
.page-container .main .info-bar .footer-box .head span:nth-child(1) {
  flex: 1.5;
}
.page-container .main .info-bar .footer-box .head span:nth-child(4) {
  flex: 2;
}
.page-container .main .info-bar .footer-box .table-container {
  height: 150px;
  overflow: hidden;
  box-sizing: border-box;
  border: 1px solid #168cd2;
}
.page-container .main .info-bar .footer-box .table-container .swiper-wrapper {
  width: 100%;
}
.page-container .main .info-bar .footer-box .table-container .swiper-wrapper li {
  display: flex;
  width: 100%;
  height: 30px;
  line-height: 30px;
}
.page-container .main .info-bar .footer-box .table-container .swiper-wrapper li span {
  text-align: center;
  flex: 1;
  color: #fff;
  border-right: 1px solid #168cd2;
  border-bottom: 1px solid #168cd2;
}
.page-container .main .info-bar .footer-box .table-container .swiper-wrapper li span:nth-child(1) {
  flex: 1.5;
}
.page-container .main .info-bar .footer-box .table-container .swiper-wrapper li span:nth-child(4) {
  flex: 2;
}
.page-container .main .info-bar .footer-box .table-container .swiper-wrapper li span:last-child {
  border-right: none;
}
.page-container .main .info-bar .cir-container {
  height: calc(100vh - 500px);
  width: calc(100vw - 1010px);
  background: url("../images/rencheng/earth-bg.png") center no-repeat;
  background-size: 100%;
  margin-top: 20px;
}
.page-container .main .right-side {
  position: absolute;
  right: 0;
  top: 0;
  width: 505px;
  padding: 20px;
}
.page-container .main .right-side .btn-box .bin-dropdown-menu {
  text-align: center;
  background-color: #fff;
}
.page-container .main .right-side .btn-box .dropBtn {
  width: 85px;
  background: unset;
  color: #fff;
  border-radius: 20px;
  border-color: #168cd2;
  height: 32px;
  line-height: 30px;
  padding: 0 10px;
}
.page-container .main .right-side .btn-box .dropBtn span {
  color: #168cd2;
}
.card-container {
  height: 100%;
  position: relative;
}
.card-container .center-box .panel {
  margin-bottom: 0;
}
.card-container .panel {
  box-shadow: 0px 0px 5px #3a3baf inset;
  border: 1px solid #3a3baf;
  padding: 15px;
  margin-bottom: 17px;
  position: relative;
  background: url("../images/rencheng/panel-bg.png") no-repeat;
  background-size: 100%;
}
.card-container .panel::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 8px;
  border-left: 2px solid #3b4eb7;
  border-top: 2px solid #3b4eb7;
  content: '';
}
.card-container .panel::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 8px;
  border-right: 2px solid #3b4eb7;
  border-top: 2px solid #3b4eb7;
  content: '';
}
.card-container .panel .panel-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.card-container .panel .panel-footer::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 8px;
  height: 8px;
  border-left: 2px solid #3b4eb7;
  border-bottom: 2px solid #3b4eb7;
  content: '';
}
.card-container .panel .panel-footer::after {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 8px;
  height: 8px;
  border-right: 2px solid #3b4eb7;
  border-bottom: 2px solid #3b4eb7;
  content: '';
}
.card-container .panel .btn-box {
  text-align: right;
  padding: 5px 0 15px 0;
}
.card-container .panel .btn-box span {
  font-size: 12px;
}
.card-container .panel .btn-box .redBtn {
  color: #b20f5e;
  border: 1px solid #b20f5e;
}
.card-container .panel .title-container {
  display: flex;
  align-items: flex-end;
  color: #fff;
}
.card-container .panel .title-container .title-content {
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 2px;
  padding-bottom: 10px;
  border-bottom: 1px solid #4e5371;
}
.card-container .panel .title-container .card-line {
  flex: 1;
  height: 17px;
  width: 100%;
  border-top: 1px solid #4e5371;
  border-image: linear-gradient(to right, #4e5371, rgba(255,255,255,0)) 1 10;
}
#pieChart1 {
  width: 100%;
  height: 175px;
}
#pieChart2 {
  width: 100%;
  height: 175px;
}
#pieChart3 {
  width: 100%;
  height: 175px;
}
#pieChart4 {
  width: 100%;
  height: 175px;
}
#lineChart1 {
  width: 100%;
  height: 175px;
}
#lineChart2 {
  width: 100%;
  height: 175px;
}
#lineChart3 {
  width: 100%;
  height: 175px;
}
#barChart {
  width: 100%;
  height: 175px;
}
.num-list {
  padding: 0 6px;
}
.num-list span {
  display: inline-block;
  width: 70px;
  height: 80px;
  margin: 10px 0;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.num-list .num-bg-0 {
  background-image: url("../images/num/0.png");
}
.num-list .num-bg-1 {
  background-image: url("../images/num/1.png");
}
.num-list .num-bg-2 {
  background-image: url("../images/num/2.png");
}
.num-list .num-bg-3 {
  background-image: url("../images/num/3.png");
}
.num-list .num-bg-4 {
  background-image: url("../images/num/4.png");
}
.num-list .num-bg-5 {
  background-image: url("../images/num/5.png");
}
.num-list .num-bg-6 {
  background-image: url("../images/num/6.png");
}
.num-list .num-bg-7 {
  background-image: url("../images/num/7.png");
}
.num-list .num-bg-8 {
  background-image: url("../images/num/8.png");
}
.num-list .num-bg-9 {
  background-image: url("../images/num/9.png");
}
#app .bin-modal-header {
  border-bottom: 1px solid #3a3baf;
}
#app .bin-modal-header .bin-modal-header-inner {
  color: #fff;
}
#app .bin-modal-footer {
  border-top: 1px solid #3a3baf;
  padding: 10px 16px;
  text-align: right;
}
#app .bin-modal-content {
  background-color: #182a53;
  box-shadow: 0px 0px 5px #3a3baf inset;
  border: 1px solid #3a3baf;
}
#app .bin-table th {
  background-color: #093c95;
  color: #fff;
  border-bottom: 1px solid #3a3baf;
}
#app .bin-table td {
  background-color: #182a53;
  color: #fff;
  border-bottom: 1px solid #168cd2;
  border-right: 1px solid #168cd2;
}
#app .bin-table-cell {
  color: #fff;
}
#app .bin-modal-close .icon-close {
  color: #fff;
}
#app .bin-table-border td,
#app .bin-table-border th {
  color: #168cd2;
}
#app .bin-table:after,
#app .bin-table:before,
#app .bin-table-wrapper-with-border:after,
#app .bin-table-wrapper-with-border:before {
  background-color: #168cd2;
}
#app .bin-table-border th {
  border-right: #168cd2;
}
