.page-content{
    height: 100%;
    background-image: url("../images/page-bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.page-content .header{
    width: 100%;
    height: 80px;
    background-image: url("../images/header-bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}

.page-content .header .tab-center{
    font-size: 28px;
    color: rgba(0, 211, 255, 1);
    font-weight: bold;
    letter-spacing: 20px;
    width: 37.5%;
    line-height: 42px;
    padding: 18px 0;
    text-align: center;
}

.page-content .header .time{
    position: absolute;
    top: 5px;
    right: 20px;
    color: rgba(0, 222, 255, 1);
    text-align: right;
    line-height: 30px;
    font-size: 18px;

}
.page-content .center{
    width: 100%;
    height: calc(100% - 80px);
    padding: 10px 20px 20px 20px;
    z-index: 2;
}
.page-content .center .con-bg{
    width: 24%;
    min-height: 100%;
    background-image: url("../images/border-bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
.page-content .center .con-bg .left-top{
    position: absolute;
    width: 6px;
    height: 6px;
    border-top: 1px solid rgba(60, 144, 247, 1);
    border-left: 1px solid rgba(60, 144, 247, 1);
    top: 0;
    left: 0;
}
.page-content .center .con-bg .left-bottom{
    position: absolute;
    width: 6px;
    height: 6px;
    border-left: 1px solid rgba(60, 144, 247, 1);
    border-bottom: 1px solid rgba(60, 144, 247, 1);
    bottom: 0;
    left: 0;
}
.page-content .center .con-bg .right-top{
    position: absolute;
    width: 6px;
    height: 6px;
    border-top: 1px solid rgba(60, 144, 247, 1);
    border-right: 1px solid rgba(60, 144, 247, 1);
    top: 0;
    right: 0;
}
.page-content .center .con-bg .right-bottom{
    position: absolute;
    width: 6px;
    height: 6px;
    border-bottom: 1px solid rgba(60, 144, 247, 1);
    border-right: 1px solid rgba(60, 144, 247, 1);
    bottom: 0;
    right: 0;
}
.center-center{
    width: 52%;
    padding: 0 20px;
}

/*镇页面布局样式（左中右宽度与其他页面不一致）*/
.page-content .center .zhen{
    min-height: 100%;
    background-image: url("../images/border-bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
.page-content .center .zhen-left{
    width: 38%;
}
.page-content .center .zhen-center{
    width: 38%;
    padding: 0 20px;
}
.page-content .center .zhen-right{
    width: 24%;
}

.page-content .bottom-img{
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
}