.count1-box {
  width: 118px;
  height: 86px;
  background-image: url("../images/count1-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.count1-name {
  color: #fff
}

.count1-count {
  color: #ffdd9e;
  font-size: 22px;
  font-weight: bold;
}

